[2014-03-28 22:08] dlindahl opened #1 "Polite request to merge SacJS with Sac SPA"
Hello there! I am writing to inquire if you, the maintainers of SacJS, would like to merge with the [Sacramento Single Page Apps group](meetup.com/sacramento-single-page-apps/messages/boards/). I am new to the area and haven't seen much as far as activity in the SacJS group. I have, however, been to one Sac SPA group and the attendees seemed eager to attend more.

Since SacJS has the better brandi

[2014-09-19 23:38] #1 closed, assigned to nobody

[2014-12-12 02:12] dlindahl opened #2 "Tessel Hackathon: Javascript-powered Hardware"
Technical Machine is coming up from Berkley with some hackathon kits and will teach everyone how to bring their knowledge of Javascript from the browser to the real world.

There will only be 40 spots available so this will require an RSVP with a hard upper bound.

Managing talk proposals is still a work in progress, so don't think of this as anything quite official. I'm just trying to get things

[2014-12-12 02:19] dlindahl opened #3 "TBD?"
I've convinced Google engineer and JSConf EU organizer Malte Ubl to come talk. Details TBD.

[2014-12-12 02:22] dlindahl opened #4 "Launching a Javascript app in Apple's App Store"
The fine folks at Requested have agreed to present on getting a Javascript/HTML app into the App Store.

I've also talked to Steve Gill from Cordova/PhoneGap and he said he'd be willing to present. Maybe we could do a double header here?

[2014-12-12 02:23] dlindahl opened #5 "Coding with JavaScript For Dummies book release party"
Chris Minnick has a new book, Coding with JavaScript For Dummies by Chris Minnick and Eva Holland, coming out and he said he'd be happy to give an intro course on web tech as part of a book release party.

[2014-12-12 02:24] dlindahl opened #6 "Javascript Robotics and/or NPM modules"
Raquel Velez of NPM has agreed to come talk about either Javascript Robotics or maybe NPM modules. Details TBD.

[2014-12-12 02:25] dlindahl opened #7 "Error Reporting/Tracking/Metrics and/or CSS regression testing"
Jessica Dillon of Bugsnag has expressed an interest in coming up to talk to us. She presented on CSS regression testing at JSFest but since she works at Bugsnag, maybe she can talk about JS error reporting as well (or instead of). Details TBD.

[2015-01-06 06:31] dlindahl commented on #2
Brandon @ the Hive says that they are fully booked, so we'll have to pivot and use Hacker Lab for at least our first meetup. Their calendar seems to indicate that the last two weeks are more or less available. I've update Technical Machine as to the status and have let me choose a date that works best for them.

[2015-01-06 06:37] dlindahl commented on #2
Additionally, I've asked @a-axton to organize a quick meeting with Brandon and myself, Andy, and @samt (if you can make it) to discuss expectations about what we are trying to do and what Brandon is looking to host in his space.

[2015-01-06 06:40] dlindahl commented on #3
@a-axton said that Brandon has a spot open on either 2/18 or 2/25. He is waiting to hear back from another group before locking the date in. Right now, its looking like the 25th, so I'll pencil it in for then.

I'd also like to see if we can get a 2nd speaker, preferably local, for this meet-up that will help extend the meetup as well as act as a fall back if I can't get the scheduling to work out

[2015-01-06 07:00] samt commented on #2
I am going to be in-town and flexible for meetings for the most part except for the first week in February.

[2015-01-12 21:47] dlindahl commented on #2
I have been in contact with Technical Machine and have confirmed a reservation for 4 Hackathon kits. I will most likely be driving to Berkley to pick them up since its easier and I can better guarantee receipt of them.

I am still trying to get them to commit to a date so that I can then get something on the board with Hacker Lab. Hopefully that won't take much longer...

[2015-01-16 17:21] dlindahl commented on #2
I've heard back from Tim with Technical Machine and I have floated the dates of Jan 27, 28, or 29. Based on The Hacker Lab's event calendar, they seem to be relatively free of anything that would interfere with our event.

@samt, since you probably know who to talk to, can you ask The Hacker Lab if we can hold an event there on one of those dates?

[2015-01-16 17:26] samt commented on #2
I can get one of those dates scheduled.

[2015-01-16 17:27] dlindahl commented on #2
@samt Just confirm that they are available. I'm waiting on confirmation from Technical Machine on one of those dates. I just want to make sure that the runway is clear, so to speak.

[2015-01-16 17:35] samt commented on #2
Got it, will do :+1:

[2015-01-21 01:41] dlindahl commented on #2
@samt Did you get a chance to talk with Hacker Lab yet?

[2015-01-21 01:42] dlindahl commented on #3
@a-axton Have you had a chance to chat with Brandon yet?

[2015-01-21 18:01] samt commented on #2
@dlindahl They said they would get back to me last week.... I'll ping them again today.

[2015-01-21 20:40] dlindahl commented on #2
@samt Heard back from Tim:

The faster we lock this in, the better. That way we have time to promote it. We are already cutting it close as it is :grimacing: :beers:

[2015-01-21 21:18] samt commented on #2
Hacker Lab is good for the Thursday 29th.

I let them know that we'll be doing our own marketing and RSVP system (so it wont go on Hackerlab's meetup and cross-RSVPing due to the strict limit).

[2015-01-21 21:23] dlindahl commented on #2
Awesome! :+1: :beers: :tada:

Did you happen to discuss a time? I told Tim 6:30pm since that seems to be the usual time. Also, do we have to do anything special to reserve the front room? I want to make sure we don't get relegated to the conference room.

[2015-01-21 21:44] samt commented on #2
We have the front area, I let him know there might be as many as 40 people. I said 6 initially, but 6:30 is also good.

Also an FYI for the future:

As we are not having them do marketing, it wont cost anything.

[2015-01-26 05:24] a-axton commented on #2
I remember the tessel girl at node-bots saying that if you wanted wifi for the tessel you had to create a hotspot on your phone (the space had a similar wifi check-in)

[2015-01-26 05:31] dlindahl commented on #2
Yeah, I need to think of a solution for that...

@samt Can you check with the Hacker Lab people to see if they can work with us to create a temporary work around to their Terms of Service check on the wi-fi?

I know you can create a network in OSX. Does anyone know if that can bridge to the Internet?

[2015-01-26 05:37] a-axton commented on #2
Did a quick google search and it seems you can. http://computers.tutsplus.com/tutorials/quick-tip-use-your-mac-as-a-wi-fi-hotspot-and-more--mac-46462

[2015-01-26 05:41] dlindahl commented on #2
@a-axton :+1: Looks like that requires an ethernet connection though. I'll have to remember to bring a cable. Are there ethernet ports in that main room?

[2015-01-26 05:44] a-axton commented on #2
Ya, the article wasn't super clear if that was a requirement. It says, "(You wouldn't need to follow this tip if you already have a Wi-Fi connection!)". We'll have to test it out I guess

[2015-01-26 08:36] samt commented on #2
I know right now that they absolutely will not provide that. I can bring a spare router to hook up to their hard line if the wifi network. There are a few drops there, dunno if active. I can scout out the place this week for good ones. There are some in the rooms next to meeting area we can always tie into.

[2015-01-28 18:35] dlindahl commented on #2
@samt I am going to be at Hacker Lab tonight for Code4Sac's web scraping talk. Do you want to meet me there with your router and experiment with the network?

[2015-01-28 19:18] dlindahl commented on #2
@samt Also, Tim is arriving by train and gets in at ~5:30pm. Will I have a problem getting in to Hacker Lab before 6? I know the door is usually unlocked (or monitored) for meetups, but since we ARE the meetup, I'm not sure how that works.

[2015-01-28 22:11] samt commented on #2
I'm afraid I absolutely cannot make it tonight. Normally my nights are
free, but this one has been booked for a while. I will be at hackerlab
early with my networking tools and such and we should be able to get it
working.

[2015-01-28 22:12] samt commented on #2
You should have no problem getting in. I plan to be there at around 5-5:15pm

[2015-01-28 22:13] dlindahl commented on #2
:+1: I'll see if I can dig up some ethernet and a router and try it myself tonight. In the event that doesn't happen, proceed with your own test tomorrow.

We should be arriving around 5:30@HL. Keep an eye on the door for us!

[2015-01-28 22:16] a-axton commented on #2
we have a wifi router and cables at the office if you need to borrow some

[2015-01-28 22:17] dlindahl commented on #2
@a-axton Even if we figure it out, please bring it anyway in the event we need a backup. Also, please invite the rest of Rocket Dept. to come! They just need to RSVP in order to claim a Tessel

[2015-01-28 22:20] a-axton commented on #2
will do, so excited!!

[2015-01-29 19:42] dlindahl commented on #2
@samt I was unable to find an ethernet port in the time I had available last night. I'm hoping you will have better luck than I did. I should be there around 5pm to help out. Do you need any additional networking supplies to pull this off? I have some cables and maybe an Airport Extreme somewhere.

@a-axton Please secure your router as well in case we end up needing it, you'll know where it is.

[2015-01-29 20:43] samt commented on #2
Ill be bringing a router, a bunch of cables, raw cables, crimpers, ends,
switches, other things. Bring your things too.

Any specifics on the WiFi SSID?

[2015-01-29 21:37] dlindahl commented on #2
`tessel`? `sac_js`?

[2015-01-30 23:06] samt commented on #2
This went really well, the turnout was great. I hope Tim enjoyed presenting there too, would love to have him back. Please send him all our thanks.

Got lots of positive responses so far and Richard mentioned something interesting too:

Which I totally agree with. We did have a good group, the 15-20 or so active people we had working on it were all into it and seemed to be enjoying themselves.

Fo

[2015-02-05 05:26] dlindahl commented on #2
Agreed. This went fantastic.

I am sure we can work out something w/ Tessel, but it would definitely require ticket purchases which is a whole new level of logistics that I'm not quite sure we're up to yet. AFAIK, Tessel hasn't given out any hardware unlike Spark, Arduino, etc. I would definitely consider the idea though.

Tim said that he'd be interested in coming back to SAC as either an invited

[2015-02-05 05:26] #2 closed

[2015-02-05 05:27] dlindahl commented on #3
I will be talking with Malte this weekend in Tahoe and hope to get a more concrete idea for the meetup. In  general, I'd like to keep talks relatively short, so maybe I can convince him to bring some co-workers and maybe we can have a general theme for the night. I'll keep everyone posted.

[2015-02-05 05:31] dlindahl opened #8 "Confirm meetup space"
We need to know if we are meeting at The Hive on the 18th, 25th, or Hacker Lab at a TBD date. I need to know ASAP so I can work out schedules with our tentative speaker.

[2015-02-05 05:42] dlindahl commented on #7
I talked to James Smith, co-founder and CEO of Bugsnag and he said that Conrad Irwin would be a good addition to this meetup as well. He is the one that wrote most of their JS notifier code.

[2015-02-05 06:00] dlindahl opened #9 "Book Release Party Ideas"
So... what does one do at a book release party? :blush:

Ideas:
* Both Chris and Eva give a talk. 20 - 30mins?
* Food and beverages. Maybe we can get someone to sponsor? The publisher?
* "Cocktail" hour before or after? Would be a good way to mingle and get to know people
* :heavy_dollar_sign::heavy_dollar_sign::heavy_dollar_sign:
* Profit

If we are calling this a party, we should think of someth

[2015-02-07 00:41] dlindahl commented on #8
The meetup space was confirmed between Brandon and @a-axton in sacjs/admin#4

[2015-02-07 00:41] #8 closed

[2015-02-07 23:42] samt commented on #8
awesome :+1:

[2015-02-09 06:15] dlindahl commented on #3
I have confirmed with Malte that he will be speaking on the 25th @ 7pm. He is still deciding on a topic to present, but it will most likely be about server-side rendering.

[2015-02-11 06:32] dlindahl opened #10 "Bryan && Raquel && (NPM || Community || Robots || Infinity)"
Dear @rockbot && @bryan-m-hughes,

We at SacJS would like to formally invite you to speak at one of our monthly meetups. We are still a new community group and many of our members seem to be relatively new to Javascript (though we have some overachievers) and certainly new to speaking. We were wondering if you would like to come talk to our members about... really anything.

Given both of your bac

[2015-02-11 19:42] bryan-m-hughes commented on #10
Do you have a standard/preferred night you host meetups on? My March calendar looks surprisingly open, but Wednesdays are generally out, as are the first and third Thursdays of the month.

As for topic, I'm pretty flexible. I can give a talk on speaking, although I don't think I would want to give the one gave at ForwardJS...I'm kinda picky with that one 😉. I could certainly throw one together on

[2015-02-12 05:42] dlindahl commented on #3
Unfortunately, Malte had to cancel due to a deployment at Google :disappointed: and needs to reschedule. So we'll have to pivot. Anyone have any ideas? I'll try to work some leads, but any help would be appreciated.

[2015-02-12 06:25] dlindahl commented on #10
@bryan-m-hughes We are still really new and trying to figure things out. So no, we don't quite have a preferred night yet. Wednesdays usually work best given everything else that happens in this town. However, with enough pre-planning, I'm sure we can get a Thursday to work! I know you said Wednesdays are out, but we just had a cancellation for our meetup on the 25th so are sort of empty right now

[2015-02-12 22:00] bryan-m-hughes commented on #10
@dlindahl So I actually can make it on the 25th, huzzah! I'm currently working on a short Speaking 101 talk for another local meetup here, so I can expand that into a full 30 minute talk.

NodeBots SF meets on the third Thursday of every month. We've found having a regular cadence seems to help with scheduling. Since there was a Tessel meetup recently, maybe we should wait a few months?

As for Rd

[2015-02-16 22:04] samt commented on #3
I could give a talk about something! Might be a bit higher level, but I could explain Unicode and UTF-8 as it relates to the web.

[2015-02-18 17:57] samt commented on #3
@dlindahl I ran into Mike Machato at Hacker Lab yesterday during their anniversary party, he said he mentioned to you someone who would be interested in talking. He's spoken at OSCON before and has some good JavaScript content. Do you know anything else about that?

[2015-02-19 04:54] dlindahl commented on #10
@bryan-m-hughes: Sorry, been crazy busy with deployments. I think your idea sounds great! Are you still available to come up? Let's do this!

[2015-02-19 05:11] dlindahl commented on #3
If that conversation was at BeerJS, anything is possible :dancer:

Carson Gross reached out to me offering to talk about intercooler.js. He's a local dev and a couple of our attendees work with him. I believe he's known in SacRuby.

I'd like to have 3 speakers, so @samt, if you have a talk lined up about JS and UTF, then I think that'd be a great way to round out the evening. We'd have 20mins slot

[2015-02-19 05:25] dlindahl commented on #3
@a-axton Also, just to triple check, we are still good for The Hive on the 25th @ 7pm, right?

[2015-02-19 18:55] bryan-m-hughes commented on #10
Yep, I'm still in! I haven't had a chance to reach out to anyone else about speaking yet, I'll try and do that today.

[2015-02-19 22:32] dlindahl opened #11 "Community and NPM Modules"
### Schedule

##### 6:00ish Pick up Bryan and Emily from Amtrak

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, introduce staff, etc.)

##### 7:15pm First Talk - Bryan Hughes (Rdio)

* Bryan will be talking about talking. And community!

##### 7:35pm Second Talk - Emily Rose (Spark)

* Emily will be talking about Oak

[2015-02-19 22:45] dlindahl commented on #3
@samt I put you on the schedule as a Plan B. I'm trying to get someone from NPM up. So be on stand by. I definitely want to hear your talk, cuz UTF-8 is amazingly weird. We might highlight it in March though. Just wanted to give you a heads up.

Also, if you can get the OSCON person's info, that'd be great. We can get the ball rolling on future meetups that way.

[2015-02-19 22:55] dlindahl commented on #3
I'm closing this in favor of #11

[2015-02-19 22:55] #3 closed

[2015-02-19 23:22] dlindahl commented on #11
@samt You are off the hook ;) I just need the @sacjs/staff for logistics again. I will be picking up and dropping off from Amtrak, so whatever plan you all came up with last time should be perfect.

@a-axton If you need us there earlier to deal with chairs, etc. Please let us know.

[2015-02-19 23:51] samt commented on #11
Awesome! I'll be there early and make sure things are ready.

[2015-02-19 23:53] samt commented on #11
Regarding the OSCON guy, his name is Carson and I'm told he's been in contact with you already.

[2015-02-24 00:17] dlindahl commented on #11
@sacjs/staff I'm hoping to boost our current RSVP numbers a bit. Don't forget to bug your friends and get them to RSVP!

[2015-02-26 16:33] #11 closed

[2015-02-26 16:43] dlindahl opened #12 "Intro to ES6 with Mike Piccolo"
I spoke with Thomas Hopkins and he indicated that he'd be willing to talk about an MVC-like library he's written.

[2015-03-02 23:05] dlindahl opened #13 "ReactJS with Devon Lindsey & Routing with Michael Jackson"
I've pinged Devon Lindsey, founder of the SF ReactJS meetup, and Michael Jackson, co-creator of React-Router, to present at a future event.

https://twitter.com/sac_js/status/572530783149154305

[2015-03-11 06:53] dlindahl commented on #12
@thomchop What is your availability on 3/18 @ 7pm?

[2015-03-11 06:54] #10 closed

[2015-03-11 06:58] dlindahl commented on #5
@chrisminnick @sacjs/staff Looking for ideas for this little shindig. I've asked both New Helvetia and Yolo about getting event space. New Helvetia is a bit trickier since their space is smaller. But Yolo has plenty of space, including a private area, and were amenable to hosting an event. Additionally, any other restaurant or brewery would also work. Also, I'm sure Brandon @ The Hive would enjoy

[2015-03-11 06:59] dlindahl opened #14 "Intercooler.js with Carson Gross"
Carson has agreed to give a talk about his AJAX library, Intercooler.js

[2015-03-11 07:12] dlindahl commented on #13
Hi @devonbl and @mjackson, I'd like to hold a hands-on ReactJS Workshop here in Sacramento and I'd love to have you both over to give an intro class and to offer any post-class assistance.

It is a pretty nascent idea so far, but I imagine it occurring on a Saturday or Sunday in either April or June, whenever scheduling permits. The event itself would either be free or would require a small fee th

[2015-03-11 15:48] chrisminnick commented on #5
Publishers don't like to spend money on marketing unless they see
significant numbers of pre-orders (hint hint!). I will ask! We'll have a
few copies of the book to give away at the event too.

Another location option would be The Trade (22 and K). They have a great
upstairs space where we're going to start doing the HTML5 meetups.

On Tue, Mar 10, 2015 at 11:58 PM, Derek Lindahl <notifications@gi

[2015-03-12 04:49] thomchop commented on #12
The library I mentioned, [Kindred](https://github.com/mfpiccolo/kindred), is a project of my business partner, @mfpiccolo. It's really cool and I'd like to see him demo it, but it's directed at a particular niche, and we would prefer to present on a broader topic. We'd like to give people a rundown on ES6. What do you think of that? Has anyone else taken it on at SacJS?

[2015-03-12 06:34] dlindahl commented on #12
@thomchop An ES6 talk would be _**perfect**_! Any chance @mfpiccolo can present on the 18th?

[2015-03-12 19:07] mfpiccolo commented on #12
Hey @dlindahl.  I am down to do a presentation on Kindred if people would be interested in something like that.  It is basically a micro js framework to help out rails projects beef up their forms without committing to a full fledged js framework like angular or ember.

I am also cool with going along with @thomchop and presenting on generator functions or some other cool features on es6.

[2015-03-12 19:14] devonbl commented on #13
i'd love to do something like this, michael might be more booked than I.  April is bad though. Anytime after May 1.

[2015-03-12 19:43] dlindahl commented on #12
@mfpiccolo I would love for an ES6 talk. In fact, the topic is large enough, maybe I can convince you to give a series of talks?

I can put you down for an Intro to ES6 talk on the 18th? Something along the lines of "what is ES6 and why you should care". Then talk about the easy features like `let` vs `var` and String templates, etc.

[2015-03-12 19:46] dlindahl commented on #13
@devonbl @mjackson Maybe June would work better? That would give us all enough time to work out scheduling as well as allow me time to find a venue.

[2015-03-13 00:36] mfpiccolo commented on #12
@dlindahl Yeah that sounds cool.  What is the level of most of the people attending?

[2015-03-13 15:23] dlindahl opened #15 "March Meetup Agenda"
**Date:** March 18th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/221127032/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Carson Gross (@carsongross) (@leaddyno) (#14)

* Carson

[2015-03-13 15:35] dlindahl commented on #12
The level of most people attending tends to be mostly beginners with a handful of experts. I would definitely target the presentation towards people that have likely never heard of ES6. I have added an RSVP question asking the attendee about their knowledge of ES6, so I should be able to give you a bit more insight as we get closer to the meetup date.

Shoot for a 30min presentation, though if you

[2015-03-13 15:49] dlindahl opened #16 "Intro to NodeJS"
@jeffprandall reached out to me via Meetup to let me know that @CrabDude was interested in coming up from Mountain View to a meetup to give a talk, possibly about NodeJS. This issue is about moving the conversation here and coordinating the details.

Adam, I understand you are likely unavailable for our April meetup and, as of now, our May meetup is booked up by a [Book Release Party](https://gith

[2015-03-13 17:57] CrabDude commented on #16
Yup. I can do that. =) Anything in particular you guys would like me to
talk on? Any popular topics ATM?

One thing I'm enjoying at the moment is babel + eslint with async/await
support. A common demo I use to demonstrate this is a recursive ls
implementation.

Would that be a good fit?

Cheers,
Adam

On Fri, Mar 13, 2015 at 8:49 AM, Derek Lindahl <notifications@github.com>
wrote:

[2015-03-17 03:12] dlindahl commented on #15
@mfpiccolo @carsongross Since we start at 7pm, I'd like to have you both arrive sometime before 7pm (anytime after 6:30pm) That way we can meet, make sure the projector works with your slide setup, etc. If you are not presenting on a MacBook, let us know so that we can track down the appropriate adapters. Also, if you need anything else, just let us know! :beers:

[2015-03-17 13:21] jeffprandall opened #17 "Sequelize with NodeJS"
@dlindahl is there anyone in the group who has any experience with Sequelize?  I am having some issues using Class Associations and was hoping I could pick someones brain.

[2015-03-17 17:37] dlindahl commented on #17
I do not specifically nor am I aware of anyone, but I am fairly familiar with Rails and they look similar. You can either describe the problem you are having here and I can try to help, or you can come out on Wednesday and maybe find someone there that can help after the talks are over. A few people tend to hangout afterwards and I'm sure someone would be willing to at least [Rubber Duck](http://e

[2015-03-17 18:56] jeffprandall commented on #17
I'll wait until the meeting to show you the spaghetti I have created.

[2015-03-17 21:00] dlindahl commented on #17
:ramen: :grinning:

[2015-03-18 23:17] dlindahl commented on #15
@mfpiccolo @carsongross Here is a link to the RSVP answers from our attendees tonight: https://dl.dropboxusercontent.com/u/78747089/rsvp_answers_3_18_2015.pdf

It might help you adjust how you present your topics tonight.

[2015-03-19 15:36] #15 closed

[2015-03-19 15:37] #14 closed

[2015-03-19 15:37] #12 closed

[2015-03-19 15:44] dlindahl commented on #16
While I personally would like to see that talk, I'm thinking it might be a touch advanced for our typical attendee. We just had an Intro to ES6 talk and ~90% had never seen ES6 code before. Additionally, only a couple people had even heard of Promises. So babel and `await` might be overshooting.

I'm thinking maybe a hands-on class might work better. Assuming a pre-requisite that everyone comes wi

[2015-03-19 16:54] samt commented on #16
If you wanted to do the workshop, I can assist people who are totally lost get up and running or help fix some system/user-specific problems they might encounter.

[2015-03-19 17:54] dlindahl commented on #5
I'm generally OK with having it there, but I want to be sensitive to the fact that since The Trade is a co-working space and technically a competitor to The Hive, I don't want to cause any friction and end up losing our event space. We should probably discuss it with @sacjs/staff and see if they have any input.

Outside of the venue, here is a general agenda draft:

* Start with a maybe 30min "coc

[2015-03-19 18:10] chrisminnick commented on #5
We asked Wiley if they'd kick in some money for meetup sponsorship, and
they said no. They will be sending us some books (not sure when yet,
though) and some For Dummies stuff we can give away.

I think we can probably get a sponsor for drinks, however. We'll work on
that and let's discuss next week!

I'd love to do it at the Hive if it's available and I think we should!
Let's keep it simple - the

[2015-03-19 18:17] dlindahl commented on #5
:+1:

@a-axton When you are getting some dates from Brandon, can you ask if we can host this party at The Hive? All we need is his blessing and a date.

[2015-03-20 18:46] CrabDude commented on #16
Let's table this for now. I'm currently working on some training material
that would be perfectly in line with what you're suggesting. Let's chat
again in a month.

On Thu, Mar 19, 2015 at 9:55 AM, Sam Thompson <notifications@github.com>
wrote:

[2015-04-09 00:47] dlindahl opened #18 "April Meetup Agenda"
**Date:** April 29th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/221914716/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Malte Ubl (@cramforce) (@google) (#19)

* Tradeoffs in

[2015-04-09 01:07] samt commented on #18
Am I going to be doing a boring talk on UTF-8?

[2015-04-09 17:50] dlindahl commented on #18
Always be prepared! Besides, if the talk is boring, that's on you, not the topic :wink: I would love to see a hilariously engaging talk about UTF-8 :grinning:

[2015-04-16 17:24] dlindahl opened #19 "Tradeoffs in server side and client side rendering with Malte Ubl"
Google engineer and JSConf EU organizer Malte Ubl will be presenting on "Tradeoffs in server side and client side rendering"

[2015-04-16 20:15] samt commented on #18
I'll have it ready!

[2015-04-17 17:26] dlindahl opened #20 "The Psychology of Responsibility"
[C. J. Silverio](https://twitter.com/ceejbot) of NPM expressed an idea about presenting on the "psychological changes that happen when you're handed responsibility for something."

I reached out to see if she'd like to present it at SacJS. The talk isn't quite written yet, but there is a chance it could get it done in time for the April meetup. If not, I extended an open invite for any future meet

[2015-04-19 18:06] samt commented on #20
That sounds like a totally awesome talk! Would love to have her :+1:

[2015-04-21 02:25] dlindahl opened #21 "Brian Leroux from Adobe/PhoneGap to talk about TBD"
I reached out to Brian Leroux from the Adobe PhoneGap team about speaking in April. Unfortunately, he was wrapping up a lot of travel and could not make it. He was open to coming up in June, however, so once we get a confirmed date for June, we can see what we can do.

---

https://twitter.com/sac_js/status/590272022904606720

[2015-04-27 01:29] dlindahl commented on #16
@CrabDude Just a friendly ping so you don't forget about us :smiley:

We are booked in May but should have open slots for meetups starting again in June. Any ideas what your schedule might look like?

[2015-04-27 01:41] dlindahl commented on #18
Ok, I was unable to secure a second speaker, so in the words of Bill O'Reilly, we're doing it live!

[![We're doing it live!](http://media.giphy.com/media/A34x7CEKUkCyc/giphy.gif)](http://www.youtube.com/watch?v=O_HyZ5aW76c)

@samt Since we do have one speaker, I think I want to bank your UTF-8 talk in the event we come up completely empty one month. I also have a talk I can create on linting when

[2015-04-27 02:08] dlindahl opened #22 "Javascript Powered Grapevine Monitoring"
[Ryan Day](https://twitter.com/soldair) from LA offered to give a talk about using Javascript to monitor vine health at vineyards. Not sure how logistically to make that happen, but if we can, it would be pretty cool.

---

https://twitter.com/soldair/status/591665857832452096

[2015-04-27 02:10] dlindahl opened #23 "Ember"
SFJS tried to help us out by recruiting [Erik Bryn](https://twitter.com/ebryn) from the Ember.JS Core Team. Unfortunately he was unable to make it for April, but he was open to something out at a future date.

---

https://twitter.com/ebryn/status/592165916776927233

[2015-04-27 02:14] dlindahl opened #24 "Polymer/Chrome"
I tried to get [Matthew McNulty](https://twitter.com/mattsmcnulty) from the Polymer/Chrome team to the April meetup, but he was busy preparing for Google IO. Maybe we can get him out to a future event.

---

https://twitter.com/mattsmcnulty/status/590925234045227009

[2015-04-27 02:17] dlindahl opened #25 "PhoneGap"
I tried to get both [Brian LeRoux](https://twitter.com/brianleroux) and [Steve Gill](https://twitter.com/stevesgill/status/590655015603298305) to come to the April meetup, but both were unavailable. They both expressed an interest in a future date though.

---

https://twitter.com/brianleroux/status/590311887977320448
https://twitter.com/stevesgill/status/590655015603298305

[2015-04-27 02:18] dlindahl commented on #20
Unfortunately, CJ was unable to make April work, but she is definitely interested in a future date. She specifically asked us to keep bugging her :smile:

* * *

https://twitter.com/ceejbot/status/590651206059630593

[2015-04-27 02:20] samt commented on #18
:+1:

[2015-04-27 03:02] cramforce commented on #18
I'm known to be on the fast side. I guess I will have to stretch things out :)

[2015-04-27 05:57] dlindahl commented on #18
@cramforce I just had a brilliant idea: Present *two* talks! :wink:

[2015-04-27 17:15] CrabDude commented on #16
My wife and I decided to go to Hawaii in June, so I'm free Mon 6/1 & Wed
6/3, but then not till after 6/20.

Cheers,
Adam

On Sun, Apr 26, 2015 at 6:29 PM, Derek Lindahl <notifications@github.com>
wrote:

--
Adam Crabtree
Noderiety
PO Box 3823
Los Altos, CA 94024
Telephone: *(*469) 777-8415 <https://mail.google.com/>
Email: dude@noderiety.com

This e-mail message is intended for the use of the add

[2015-04-27 17:27] dlindahl commented on #16
Aloha! :palm_tree: :sunrise:

I think we'll tentatively pencil this in for sometime in July. That's pretty far out for us right now, so things may change before then. We'll keep you in the loop.

Thanks again for offering to do this!

[2015-04-27 21:38] dlindahl opened #26 "NomadJS Movie Night"
@jakerella from NomadJS has offered us rights to show a NomadJS video at one of our meetups:

I am definitely interested in doing this as a Movie Night :movie_camera: at The Hive.

At this point, its just a matter of scheduling. We've got quite a few speakers in the bank so I'm not entirely sure at this point where to slot it in. We'd likely know more after our May meetup how things will start loo

[2015-04-27 23:48] samt commented on #26
That would be totally awesome!

[2015-04-28 15:23] jakerella commented on #26
It is a gift. :)
But yes, it is also intended to be a marketing tool to drive membership. I'd probably record a custom intro for you folks to introduce NomadJS and send you all some stickers.

If you can fit it in June or July that would be great. We're trying some new things to keep the attendance up on the meetings (which has been okay, but not growing much). Obviously I don't want to cause any

[2015-04-28 20:28] dlindahl commented on #18
@cramforce When do you expect to arrive? If you want to grab some food beforehand, let me know. We are working on a sponsorship that may or may not be providing some light food during, but I wouldn't bet your hunger on it.

[2015-04-29 06:21] dlindahl commented on #18
@samt Rocket Department is picking up the tab for beverages (up to $50). I'll leave it up to you how you want to handle that with @efletch. Since you seem to have a system that has been working well for you, I would recommend sticking with that and save the receipt so that you can be reimbursed.

@a-axton We have 41 people coming :astonished:. We're probably going to need to pull out the extra cha

[2015-04-29 21:10] efletch opened #27 "Event date on sacjs.com is incorrect"
The event date on sacjs.com is "Wed Mar 18 at 7:00pm" but the event is happening tonight! :) Guessing it just never got updated?

[2015-04-29 23:17] samt commented on #27
Thanks for catching that! It's been fixed

[2015-04-29 23:17] #27 closed

[2015-04-29 23:32] dlindahl commented on #27
:+1:

That gets me every time...

[2015-04-30 08:26] #18 closed

[2015-04-30 08:27] #19 closed

[2015-04-30 16:23] samt commented on #18
Thanks @cramforce for giving your talk, we had great feedback from it!

[2015-05-10 04:47] jeffprandall opened #28 "Facebook Authentication on a Node REST API"
I was hoping to get a little direction on which route I should take on an app I am building using Ionic on the client side and Node+Postgres on the back.  The app Users will only be Facebook users.  And I would like to make all the calls back to Node RESTful to GET/POST JSON data.

I understand you can login into Facebook from the client side and get the FB access token which in turn you can pass

[2015-05-11 09:36] dlindahl opened #29 "May Meetup Agenda"
**Date:** May 26th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/222516756/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Chris Minnick (@chrisminnick) (@WatzThisCo) (#5)

* TBD

[2015-05-12 22:08] dlindahl commented on #13
@devonbl Would you be available to do this React Workshop on Tuesday, June 23rd at 7pm?

[2015-05-12 22:10] devonbl commented on #13
Noooooooooooooo
On Tue, May 12, 2015 at 3:08 PM Derek Lindahl <notifications@github.com>
wrote:

[2015-05-12 22:11] dlindahl commented on #13
lol

What about Tuesday, July 28th at 7pm? :grinning:

[2015-05-12 22:16] devonbl commented on #13
I have Netflix meetup that week.
On Tue, May 12, 2015 at 3:11 PM Derek Lindahl <notifications@github.com>
wrote:

[2015-05-12 22:27] dlindahl commented on #13
We have just been approved a recurring date of the 4th Tuesday of every month. Does that conflict with a recurring date on your end? If so, then maybe I can work something out on a weekend instead of a weekday.

My preference is to get something on the schedule sooner rather than later. Everyone at our meetups has expressed a strong desire to get hands-on with React and a ReactJS meetup has just b

[2015-05-20 22:38] dlindahl commented on #5
@samt You are available to run the meetup on the 26th, right?

[2015-05-20 22:52] samt commented on #5
Yes

[2015-05-20 22:54] dlindahl commented on #5
@samt Awesome. I'll prepare a basic slide deck in Keynote that you can use, modify, or completely disregard.

[2015-05-20 23:19] chrisminnick commented on #5
Thanks guys! Let me know if you need us to do anything! Looking forward to it.

[2015-05-21 18:27] dlindahl opened #30 "VR Evangelist @ Microsoft, Liv Erickson"
I pinged @misslivirose about the possibility of coming to Sacramento and talking to us about VR, WebVR, the Web, Microsoft and/or anything else she wanted to talk about and she agreed! This will serve as the official thread to discuss logistics, etc.

We meet at The Urban Hive on the 4th Tuesday of every month at 7pm. We try to plan for three 20-min, two 30-min, or one 45-min presentation dependin

[2015-05-21 22:07] misslivirose commented on #30
Hey there!

I'd love to come up and do a talk on VR - I think something similar to what I did at last week's JSConf would be a lot of fun: a general overview of the VR ecosystem, talking about what I've worked on with WebVR and the web's role in virtual reality, showing off some examples, and helping give an overview of how people can get started building their own VR apps! Depending on the size g

[2015-05-22 18:05] dlindahl commented on #30
Uh... that sounds epic!

We are a relatively new meetup but our numbers are growing quickly. I'd say to expect somewhere between 20-30 attendees. If you are most comfortable with a solid 45-min talk with examples, Q&A, and some Oculus time, I think that would be perfect. After the official meetup is over, about half the group usually hangs around afterward for some mingling and additional Q&A time

[2015-05-24 20:33] dlindahl commented on #29
@samt I created a slide deck for you at https://github.com/sacjs/slides/tree/master/2015/05

You'll need to download and install the fonts at https://github.com/sacjs/assets/tree/master/fonts

Feel free to edit the deck as needed. The only thing that I ask you to keep in place in its entirety is the Code of Conduct.

Let me know if you have any problems!

[2015-05-26 20:51] misslivirose commented on #30
Awesome, the format sounds great then! I can plan on doing that and if anything changes just let me know. If June ends up working better for you, I should be good as long as I get 5-7 days notice. Most of the talk is already prepped, so it would just be scheduling the drive up.

Thanks!

[2015-05-27 18:25] samt commented on #29
Everything went well! had to take off early due to family emergency, but @a-axton offered to do the clean up. Luckily we didn't have to move seats around this time because the presentations were short and it was more a party.

[2015-05-27 18:25] #29 closed

[2015-06-01 21:13] dlindahl commented on #13
@devonbl: I reached out for help from Tom Occhino who put me in touch with Steven Luscher from the Instagram team and he has offered to run the workshop for us. I wanted to sincerely thank you for offering to help us out with this!

Even though we couldn't get our schedules to work out, if you happen to be free when we get a date locked in for this (sometime in July), we would **_love_** to still

[2015-06-01 21:13] #13 closed

[2015-06-01 22:01] dlindahl opened #31 "React Workshop with Steven Luscher (Instagram)"
**Date:** Saturday, July 18th
**Time:** 9:00am - 5:00pm
**Location:** UC Davis Extension, Room 200
**Tickets:** https://ti.to/sacjs/reactjs-workshop
* * *

## Overview

At JSConf, I talked to Tom Occhino from Facebook about getting us in touch with someone that coulf run a React Workshop here in Sacramento. He got me in touch with Steven Luscher from the Instagram Web Team. He teaches React to new

[2015-06-01 22:03] dlindahl commented on #30
@misslivirose I'm still working on confirmation, but its looking more and more likely that we'll be moving your presentation up to our June 23rd meetup. Just wanted to give you a heads up. I'll let you know once things locked in! :blush:

[2015-06-01 22:06] misslivirose commented on #30
Sounds great, let me know when it's finalized! :)

[2015-06-02 00:00] dlindahl commented on #31
Aaron Winters said [on #sactech Slack](https://sac-tech.slack.com/archives/general/p1433202181000043):

[2015-06-02 14:59] eporcello commented on #31
This sounds amazing!

A few things:
* My husband, Alex Banks (@MoonTahoe), knows React well also and can help day of.
* Do we know when we'd like to hold the event? Saturday July 11 stands out as a good date for Alex and me.
* Could Steven come up the night before so that we could maybe start a bit earlier in the day? It might be nicer for him to teach after sleeping too!
* It'd be cool to do t-sh

[2015-06-02 16:40] dlindahl commented on #31
@eporcello: added @MoonTahoe to the list of helpers

I'm still working with Steven on getting a date locked in. If he's able to come up on Friday so we can start early-ish on Saturday, I'm ok with that.

If FB has leftover swag from events, hopefully Steven can bring those with him. I'm not sure we need anything custom for this event if that's what you mean. I can speak to their event coordinator

[2015-06-02 16:53] dlindahl commented on #31
I pinged Stone Cobra to see if they'd be interested in sponsoring. They had a developer at our April meetup say that they were actively looking for React developers.

[2015-06-03 16:09] samt commented on #31
:+1: Let me know if I can do anything to assist.

[2015-06-04 21:19] dlindahl commented on #30
@misslivirose I'm going to go ahead and lock you in for the 23rd. Is that good for you?

[2015-06-04 21:20] misslivirose commented on #30
Yep, sounds good!

[2015-06-04 21:21] dlindahl commented on #30
:tada: :100: :+1: :smile:

[2015-06-04 21:24] dlindahl commented on #30
@misslivirose: Do you have a title and/or an abstract that I can use to promote the event? Doesn't have to be perfect, just helps create the announcement and my opening slides.

[2015-06-04 21:28] dlindahl opened #32 "June 2015 Meetup Agenda"
**Date:** June 23rd
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/223024074/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Liv Erickson (@misslivirose) (@microsoft) (#30)

* JavaS

[2015-06-04 21:30] misslivirose commented on #30
Yep!

Feel free to let me know if there's something else you'd like me to pull in or include, I'm using this as a reference:

Title: JavaScript for Virtual Reality

Abstract: Is 2015 the year of Virtual Reality? Experts suggest that VR will be a 150 B industry by 2020 - but right now, the majority of VR development tools require heavy game engines and specialized desktops. In this talk, we'll disc

[2015-06-04 21:32] dlindahl commented on #30
![](https://newarray00.files.wordpress.com/2014/05/shut-up-and-take-my-money-9299-2560x16001.jpg)

It sounds awesome! I'm so excited!

[2015-06-04 21:32] misslivirose commented on #30
I'm so glad! I've got everything blocked out on my calendar, can't wait!

[2015-06-17 17:39] #5 closed

[2015-06-22 22:55] dlindahl commented on #31
Heard back from Steven. We're tentatively schedule for July 18th. Once we get a venue locked in, everything else should fall into place.

* @samt is asking at UC Davis Extension
* @a-axton is asking at The Hive and VSP: The Shop

I've updated the content of this issue to reflect the current state.

[2015-06-23 01:04] eporcello commented on #31
Awesome! Let me know if we can help in any way.

[2015-06-23 19:13] dlindahl commented on #31
@samt says our space at UCD Extension is almost set. We're waiting on confirmation and clarification about parking validation. If they can't cover parking, ticket prices or an extra sponsor should more than cover it.

Steven sent along this link that shows a syllabus that he's used in past events: https://github.com/steveluscher/react-polyglot-conf-2014#syllabus

@eporcello we have you penciled in

[2015-06-23 19:38] dlindahl commented on #30
@misslivirose Do you have any questions for us before you hit the road?

We usually start setting up at 6:30pm and kick-off the evening sometime around 7pm (once the stragglers get settled). One of our sponsors should be providing some :pizza: and we'll have water, :beer:, and soda on hand. You're the only speaker so if you run a bit long, it won't be a problem.

If you need a specific projector a

[2015-06-23 22:30] misslivirose commented on #30
Hi! I would need a lightning adapter (mini display port) for my Macbook Pro since the Oculus uses the HDMI port. I'm excited! I'll let you know if I run into anything on my way up there (on the way now, so hopefully traffic cooperates!)

[2015-06-25 16:46] #30 closed

[2015-06-25 16:47] #32 closed

[2015-06-25 21:29] dlindahl commented on #31
@samt heard back from UCD and we're good to:

I'm going to officially announce via twitter and meetup and I'll post the registration link here as well.

[2015-06-25 22:32] dlindahl commented on #31
Here is the link for ticket purchasing: https://ti.to/sacjs/reactjs-workshop

Share with everyone you know!

[2015-07-06 18:24] dlindahl commented on #31
@sacjs/staff: Please register for a Staff ticket at https://ti.to/sacjs/reactjs-workshop/with/suvjfenukxi

[2015-07-14 20:46] dlindahl opened #33 "ReactJS Workshop Troubleshooting Requests"
Can't get the [ReactJS Workshop code](https://github.com/steveluscher/react-rjsdaq-workshop#setting-up) running? Leave a comment here and we'll help you as soon as we can!

[2015-07-14 21:17] dlindahl opened #34 "ReactJS Workshop Budget"
This constitutes a rough budget for the workshop (#31).

The goal here is to ensure that the balance is exactly $0.

| Item | Cost | Who |
|--------|-------|--------|
| Ticket Revenue | $305.03 | Tito @dlindahl |
| Sponsorship | $800.00 | Autodesk @samt |
| Venue Rental | ($180.00) | @samt |
| Breakfast ($109.99 per 20pp + tax) | ($230.98)  | @dlindahl |
| Snacks, Beverages | ($76.28)  | Costco @d

[2015-07-16 17:04] dlindahl commented on #34
![noahs bagels](https://cloud.githubusercontent.com/assets/55945/8729748/d9e492a0-2ba1-11e5-8e0d-dabe3c44f968.png)
![noahs bagels 2](https://cloud.githubusercontent.com/assets/55945/8729781/fd85da98-2ba1-11e5-9dd2-0b182d406f80.png)

[2015-07-16 17:05] samt commented on #34
![chipotle_order_july18](https://cloud.githubusercontent.com/assets/150040/8729803/2154bb38-2ba2-11e5-837a-928ddd1f4ae6.png)

[2015-07-22 00:20] #33 closed

[2015-07-22 00:20] #31 closed

[2015-07-27 05:08] dlindahl opened #35 "Alex Russell, Google Chrome/Dev Relations"
At TXJS, @slightlyoff volunteered to come talk at a future meetup. Given his understandably busy schedule, the best we could come up with was November 24th.

After looking at the calendar, we might want to push that back even further since that is only 2 days before Thanksgiving. In fact, I might not even be in town for that meetup. If we decide to move it back, our calendar is pretty clear for an

[2015-07-28 22:33] a-axton opened #36 "CoffeeJS September"
Let's plan another CoffeeJS! I'll be busy the weekend of the 8th and 15th so I was thinking maybe the 22nd/23rd? Although, that might be a little too close to our regular meetup.

Possible locations
1. Naked Lounge, 11th and H
2. Temple, 28th and S (large outside area)

[2015-07-30 18:30] dlindahl commented on #36
I'm available on the 15th, so I'd be down for that

[2015-07-30 19:10] dlindahl commented on #34
![costco](https://cloud.githubusercontent.com/assets/55945/8992491/98840954-36b3-11e5-8097-73ac999d3a0d.jpeg)

This receipt contains two un-reimbursable items. The actual total should be as follows:

|  |  |
|--------|-------|
| Sub-total | $70.30 |
| Tax | $5.98 |
| Total | $76.28 |

[2015-07-30 19:11] dlindahl commented on #34
![raleys](https://cloud.githubusercontent.com/assets/55945/8992557/04eea5fe-36b4-11e5-9aea-48b5d8b99dd7.jpeg)

[2015-07-30 19:12] dlindahl commented on #34
@samt Looks like I went over budget by just a teeny amount. I'll take the hit so just short me on the reimbursement whenever we get to it.

[2015-07-30 22:06] samt commented on #36
15th is good here :+1: Hopefully the weather will be kind to us that morning should we opt for S street Temple.

[2015-07-30 23:04] a-axton commented on #36
I was trying to get a date that I could make, but ya the 15th makes more sense timing wise.

[2015-07-31 00:53] dlindahl commented on #36
Haha I totally misread your email...

The 22nd or 23rd can work, but we do have a meetup on the 25th. I'd also be OK going with something in early September and have the date locked in so we can promote it properly at the meetup.

[2015-08-06 03:52] joneshf opened #37 "Property based testing"
Per: https://twitter.com/sac_js/status/629009116946661376

I'd like to present a talk about property based testing (PBT), where the idea is to test generalized properties or laws about a program, rather than specific instances.

Depending on how much time, I'd like to touch on:
* What is testing?
* Why is it important?
* Things testing cannot do.
* Drawbacks of example based testing.
* History of

[2015-08-07 23:39] joneshf commented on #37
Thoughts, comments, suggestions?

[2015-08-14 05:37] dlindahl commented on #37
Sorry for the late response, I was out of town for the week and am just now getting caught up.

I think this talk sounds great! In fact, I've never even heard of PBT before now, so I think this will make for quite an interesting talk.

As of right now, we have one other speaker penciled in on 8/25 so please plan on providing 30-minutes of content. Is that enough to cover all the topics you'd like?

[2015-08-15 01:22] joneshf commented on #37
No worries. I didn't mean to sound impatient.

Yeah, 30 min should be just fine. Thanks.

[2015-08-17 18:53] DigitalSplashMedia opened #38 "A JS Noob’s Experience Learning D3"
Derek  asked if I would be available to talk about my experiences with the data and D3. Absolutely, but it would help me to know:

How long to expect to talk
What format it should be (presentation with slides, informal chat, go through code...?)
Anything in particular anyone would like to hear about D3 and data visualization.

[2015-08-18 03:37] dlindahl commented on #38
* Plan on presenting for 30-minutes
* Format is entirely up to you!

  Personally, I think a presentation with slides is easier to digest for attendees. Feel free to allow time for Q&A in your block of time. We also encourage attendees to hang out afterwards to continue the conversation.

* I think an explanation of what D3 is, how it differs from other charting/viz libraries, and some personal an

[2015-08-18 03:38] #9 closed

[2015-08-18 03:43] dlindahl opened #39 "August 2015 Meetup Agenda"
**Date:** August 25th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/224709308/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Hardy Jones (@joneshf) (#37)

* Property Based Testing

[2015-08-26 15:38] Bradcomp opened #40 "Functional Programming in JavaScript"
We talked a bit last night about my doing a talk on using functional programming techniques in JS.

I would be interested in doing this if other people are interested.

I would want to talk about some combination of the following, depending on interest:
* What is FP and why we should care
* Function purity and side effects
* First class functions & lambdas
* Currying and partial application
* List

[2015-08-26 22:48] a-axton commented on #40
Awesome, I'm glad you submitted this! Are you thinking about having this for our next meetup or another future one?

[2015-08-27 00:35] Bradcomp commented on #40
Is the next meetup the 22nd of September?  I can do that. I could also do October if that works better.

[2015-08-28 16:40] samt commented on #40
AFAIK, we don't have any speakers lined up for September, not sure if @dlindahl had any leads yet.

This sounds awesome! I love the focus on practicality with this (it's a lot more approachable given our wildly diversified group of people).

[2015-09-04 18:01] Bradcomp commented on #40
I can totally do this for September if there is nothing else lined up.

Should I plan for like 45 minutes to an hour?

[2015-09-06 22:52] dlindahl commented on #40
Sorry for the delay, I'm super slammed right now.

We have one lead, but he's not confirmed yet. This is definitely going on the schedule though. I'll get back to you with a talk length as soon as I can! For now, plan on _at least_ a 20mins of material for right now.

[2015-09-16 04:49] dlindahl commented on #40
@Bradcomp I haven't heard back from the other potential speaker so it looks like its going to be a one person show! Would you like to do 30mins or 45min? You can have as much as you like, I just need to know for scheduling purposes. Thanks for volunteering to speak!

[2015-09-16 19:41] Bradcomp commented on #40
I can do 45 minutes.

[2015-09-17 15:18] Bradcomp commented on #40
@dlindahl What sort of set up do you have as far as projector, etc?

[2015-09-17 15:20] samt commented on #40
There is a projector and hookups for both Thunderbolt/Display port and VGA.

[2015-09-17 16:47] dlindahl commented on #40
Scheduled! http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/225424247/

@Bradcomp Are you on Twitter at all?

[2015-09-17 16:47] #39 closed

[2015-09-17 16:47] #38 closed

[2015-09-17 16:48] #37 closed

[2015-09-17 16:50] dlindahl opened #41 "September 2015 Meeting Agenda"
**Date:** September 22nd
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/225424247/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Brad Compton (@bradcomp) (#40)

* Intro to Function

[2015-09-17 16:51] dlindahl commented on #36
So I dropped the ball on this one.

How does Saturday, September 26th sound?

[2015-09-17 16:53] samt commented on #36
I can be there!

[2015-09-17 16:55] dlindahl commented on #36
I'm assuming the weather will be nice by then. Want to do it at Temple on 28th and S?

[2015-09-17 19:05] Bradcomp commented on #40
@dlindahl Yes I'm @notpmoc84.  Rarely on there though.

[2015-09-17 19:29] Bradcomp commented on #40
@samt Mini VGA or regular 15 pin?  No HDMI?

[2015-09-17 19:30] dlindahl commented on #40
I believe the projector is native HDMI. It includes an adapter to convert it to Thunderbolt. So it can support both.

On Thu, Sep 17, 2015 at 12:29 PM, Brad Compton <notifications@github.com>
wrote:

[2015-09-21 14:51] joneshf commented on #40
Woo! This is awesome!

[2015-09-22 20:39] dlindahl commented on #36
I'll be announcing CoffeeJS at Temple this Saturday the 26th at tonight's meetup, so clear your calendars :smile:

[2015-09-23 16:47] #41 closed

[2015-09-23 16:48] dlindahl commented on #40
Once again @Bradcomp, you did a great job last night! Let us know when you're free to present again! :smile:

[2015-09-23 16:48] #40 closed

[2015-09-23 17:06] dlindahl commented on #36
Moved to beerjs/sac#16

[2015-09-23 17:06] #36 closed

[2015-09-23 17:32] dlindahl opened #42 "October 2015 Meeting Agenda"
**Date:** October 27th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** ~~http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/225424247/~~

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Andy Axton (@a-axton) (#43)

* TBDFest Project Ob

[2015-10-15 00:58] a-axton opened #43 "TBDFest Project Obelisk"
Project Obelisk is an interactive LED art installation that we (Rocket Dept.) brought to TBDfest this year.  The LED animation logic is all powered by Javascript (react, threejs, web audio api). This talk is going to be a combination of outlining the problems I faced trying to write code for a physical project that didn't exist yet (the problem), showcasing live example (the solution), and finally

[2015-11-10 19:35] dlindahl commented on #6
We're still working on a talk here, but the topic and dates have changed enough that I'm going to close this for now.

[2015-11-10 19:35] #6 closed

[2015-11-10 19:35] #42 closed

[2015-11-10 19:59] dlindahl opened #44 "Raquel Velez "GO HOME/OUTSIDE" &&|| Ashley Williams (TBD)"
From https://twitter.com/rockbot/status/664141229139955712

---

Hey @rockbot and @ashleygwilliams, we'd like to extend an open invite to you both to come up to Sactown and teach us some cool stuff!
- [Our Meetup Page](http://www.meetup.com/The-Sacramento-Javascript-Meetup/)
- We meet every 4th Tuesday at [The Urban Hive](http://www.theurbanhive.com/)
- Meetups typically start at 7pm
- We usually

[2015-11-17 03:18] #43 closed

[2015-11-17 03:25] slightlyoff commented on #35
Is feb 23 still open?

[2015-11-17 03:27] dlindahl commented on #35
@slightlyoff Yes it is! Want to lock it in?

[2015-11-17 15:06] samt opened #45 "Memory Leaks in JS Apps"
Estimated Length: **20 mins**.

Topics:

* What is a memory leak?
    * Memory and V8 (chrome/node.js)
    * Why does it happen?
    * Where does it happen? (closures, et. al.)
* Identify Leaks
    * Using observation
    * Using tools
* Fixing memory leaks
    * As they are spotted
    * Before they happen (best practices/patterns)

------

This presentation is a work in progress and doesn't dive

[2015-11-17 18:33] benmvp opened #46 "You don’t need JavaScript for that!"
We have been using JavaScript toolkits like jQuery for nearly a decade to make manipulating the DOM easier as we create our highly-interactive web apps. New features in HTML5 & CSS3 should’ve made old development strategies obsolete, and yet we’re still using jQuery to do things better suited for HTML5 & CSS3. Why? Well, old habits die hard.

In this session, let’s look at ways we used to build in

[2015-11-17 19:52] dlindahl opened #47 "November 2015 Meeting Agenda"
**Date:** November 24th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/226841739/

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Ben Ilegbodu (@benmvp) (#46)

* You don’t need JavaS

[2015-11-17 20:05] dlindahl commented on #45
Let's do this talk in December as a warm-up to Lightning Talks. Sound good?

[2015-11-17 20:10] dlindahl commented on #34
I have no idea where we stand on this anymore so I'm just going to say everything is settled and close it out :dancer:

[2015-11-17 20:10] #34 closed

[2015-11-18 06:00] samt commented on #45
Awesome :+1:

[2015-11-23 22:25] dlindahl commented on #46
@benmvp: Wanted to check-in with you to make sure you are squared away with coming up tomorrow (directions, etc.). Let me know if you have any questions!

[2015-11-23 23:45] benmvp commented on #46
I think I'm pretty good. Was just going to rely on Google Maps to get me there :smile:

What time should I get there? 6:30P? 6:45P?

I have a universal dongle to connect to VGA, DVI & HDMI so I should be good in terms of projection. I also have set up the slides to not rely on Internet.

What's your feel for the experience level of those attending regarding the topic of HTML5 & CSS3?

[2015-11-24 05:23] dlindahl commented on #46
We usually start setting up at 6:30 and people start showing up at 6:45

We may have a room change to deal with tomorrow so I'm going to get there a bit early to ensure we get it straightened out in time. Let me know when you plan on arriving and I'll make sure someone is there to meet you.

I'd say most attendees are fairly knowledgeable about HTML and CSS. Of the attendees that don't write JS al

[2015-11-24 16:44] benmvp commented on #46
Ok, cool. Thanks for the info!

I plan to be there some time between 6:30 - 6:45 so I can have enough time to set up and test things out

[2015-11-25 07:09] mfpiccolo opened #48 "Rusty Node"
Systems programming is scary!  You can crash your server, create memory leaks, loose important data and a myriad of other bad things can happen if us high level programmers decided to start writing C code.  This is the main barrier of entry into this domain.  What if you could write code that gave you the power and speed of low level code while keeping you from many of the pitfalls that make low l

[2015-11-25 15:30] samt commented on #45
Let's hope I can remember this. ( :stuck_out_tongue:  )

[2015-11-25 16:49] #46 closed

[2015-11-25 16:49] #47 closed

[2015-11-25 16:53] dlindahl commented on #48
@mfpiccolo Is this your full talk proposal, your lightning talk proposal, or both?

[2015-12-01 05:02] mfpiccolo commented on #48
@dlindahl  This is the full talk.  When are the lightning talks?  I am sure I can boil it down to basically just the pitch part of the talk for a 5 minute talk.

[2015-12-01 18:38] IgorLubinets opened #49 "Igor lightning talk about "this""
I would like to talk about what I learned about "this"

[2015-12-01 18:53] ivanvillacreative opened #50 "Lighting Talk - Different Channels in learning"
It's been a fun year of learning web dev, I would like to talk about a few of the things that I found really helpful in learning.

examples...
* Casual MeetUps (beerJS)
* meetUps
* personal projects
* slack
* online schools
* etc. (until I hit 5 mins)

[2015-12-02 05:44] dlindahl opened #51 "December 2015 Agenda"
**Date:** December 16th
**Time:** 7pm
**Location:** The Urban Hive
**Meetup Url:** ~~http://www.meetup.com/The-Sacramento-Javascript-Meetup/events/226841739/~~

* * *

##### 6:30pm Preparation

* Get space setup (chairs, projector, etc.)

##### 7:00pm Start

* Opening remarks (thanks for coming, CoC, introduce staff, etc.)

##### 7:15pm First Talk - Sam Thompson (@samdtho) (#45)

* Memory Leaks in

[2015-12-02 05:49] dlindahl commented on #48
I'm working on the schedule now. We're doing lightning talks on the 12/16. If you could open a separate Issue for the lightning talk version, that'd be great (preferably with a shorter "abstract" I can use on the website)

I'll leave this open so I can schedule it as a full talk in an upcoming meetup.

[2015-12-03 07:13] evinr opened #52 "Lightnight Talk: Documentation Hacks"
Name: Evin Revello
//Twitter Handle:
GitHub Username: evinr
Employer: Stone Cobra
Hometown: Sacramento
Talk Length: 5
---
Title: Documentation Hacks
Brief Description: Exploits to Better Transfer Knowledge

[2015-12-03 08:18] roughani opened #53 "Lightning Talk: Civic Tech is the New Black"
Name: Ash Roughani
Twitter Handle: [@Roughani](https://twitter.com/@Roughani)
GitHub Username: @roughani
Employer: [Delivery Unit](https://github.com/deliveryunit)
Hometown: Sacramento
Talk Length: 5 mins.
---
Title: Civic Tech is the New Black
Brief Description: Ash Roughani, founder of [Code for Sacramento](https://github.com/cod4sac), will discuss the role of civic tech in shaping Sacramento's

[2015-12-03 20:19] ashleygwilliams commented on #44
hi! i'm totally interested in this. it could also work well for me as @wafflejs would like me to speak in Feb, potentially.

need to get travel approved by npm... unless ya'll sponsor speakers somehow?

[2015-12-08 23:21] dlindahl commented on #44
Hi! Sorry for the late response, was doing the whole JSConf thing.

If you are in, we're in! While we are actively pursuing better sponsor support to help offset travel expenses for speakers, we do not have anything in place yet.

I've seen you both speak before and I'm excited for the opportunity to bring your voices to the Sacramento community!

If there is anything you need leading up to the me

[2015-12-09 21:30] dagan opened #54 "Lightning Talk: Writing a jQuery Plugin"
Name: Dagan Henderson
Twitter Handle: @TechDagan
GitHub Username: dagan
Employer: Fidelity Investments
Hometown: Roseville, CA
Talk Length: 5 minuter
---
Title: Writing a jQuery Plugin
Brief Description: jQuery is a powerful javascript library with built-in support for DOM traversal, AJAX, animations, event handling, and DOM manipulation. It also has a very simple plugin API that makes it highly e

[2015-12-09 21:33] efletch opened #55 "Lightning Talk: Play with Tech"
Name: Emma Fletcher
Twitter Handle: [@emmafletcher](https://twitter.com/emmafletcher)
GitHub Username: @efletch
Employer: [Rocket Department](http://rocketdept.com), Intel
Hometown: Columbus, OH
Talk Length: LIGHTNING! (5 minutes)
---
Title: Play with Tech (working title)
Brief Description: Introducing technology/programming/engineering/making to students. Why does it matter? What resources alread

[2015-12-10 01:51] daltonamitchell opened #56 "Lightning Talk: Design For Developers"
Name: Dalton Mitchell
Twitter Handle: @daltonamitchell
GitHub Username: @daltonamitchell
Employer: Consolidated Fabricators
Hometown: Galt
Talk Length: 5 mins
---
Title: Design For Developers
Brief Description: Designers & Devs share a lot in common but we often end up working on separate teams and tossing work over the fence. If designers can learn to code, can developers learn design? Why would

[2015-12-10 23:22] owenscott opened #57 "Lightning Talk: React Native"
Name: Owen Scott
Twitter Handle: @ownsctt
GitHub Username: owenscott
Employer: Open Town
Hometown: Ottawa (Canada)
Talk Length: 5 mins
---
Title: A First Foray Into React Native
Brief Description: A quick look at what React Native is, how it works, and how it's different from other javascript-to-native frameworks (e.g. Phonegap), told through the lens of someone stumbling through it for the first

[2015-12-11 03:36] MLichtenstern commented on #57
Name: Mariah Lichtenstern
Twitter Handle: lightedstar
GitHub Username: mlichtenstern
Employer: CINESHARES
Hometown: Oakland, CA
Talk Length: 5 minutes
---
Title: A New Era in Hollywood
Brief Description: CINESHARES is uniquely positioned to be the first Ecosystem as a Service to help EAAS filmmakers through the Hollywood labyrinth script-to-screen. Our patent-pending technology uses human-assisted

[2015-12-12 23:41] dlindahl commented on #57
@MLichtenstern To submit a talk, please open a new Issue. This helps us track each talk proposal individually

[2015-12-15 01:05] ashleygwilliams commented on #44
hi! i am 90% on being avail for the 26th!

[2015-12-15 03:26] dlindahl commented on #44
Yay! :tada: Let us know if there is anything we can do to help reduce that last 10%

@rockbot Any update on your availability/interest? We'd love to have a "wisdom" of wombats up in here!

[2015-12-16 18:01] samt commented on #45
I am going to table this particular 20 min talk for a later date.

[2015-12-16 18:03] samt opened #58 "Lighting Talk: UTF-8 and you!"
**Abstract**

We all know that we should add `<meta charset="utf-8">` to our html documents and always specify `utf-8` as the encoding scheme, but why? What is this mystical UTF-8? Find out more than  you've ever wanted to know about the most brilliant hack in text encoding history.

----

@dlindahl Heads up, changing my lighting talk to this after #45 could not be condensed to 5 mins.

[2015-12-17 17:26] #51 closed

[2015-12-17 17:27] #58 closed

[2015-12-17 17:27] #57 closed

[2015-12-17 17:27] #48 closed

[2015-12-17 17:27] #49 closed

[2015-12-17 17:27] #50 closed

[2015-12-17 17:27] #52 closed

[2015-12-17 17:27] #53 closed

[2015-12-17 17:27] #54 closed

[2015-12-17 17:27] #55 closed

[2015-12-17 17:27] #56 closed

[2015-12-18 23:05] Bradcomp opened #59 "Promises Promises"
Name: Brad Compton
Twitter Handle: @notpmoc84
GitHub Username: Bradcomp
Employer: CLC Incorporated
Hometown: Sacramento
Talk Length: 30 minutes
---
Title:Promises? Promises!
Brief Description:  Promises can drastically improve the way we are writing our async code.  They give us back the ability to centralize our error handling and return values from functions like we can in synchronous code.

We'

[2015-12-22 02:08] dlindahl commented on #44
I'm not above bribery so wanted to let you both know that I've got two JS logo knit caps (the ones from JSConf Last Call) on the way for each of you! :smile:

[2015-12-22 03:31] dlindahl commented on #59
[![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/H8Q83DPZy6E/0.jpg)](https://www.youtube.com/watch?v=H8Q83DPZy6E)
Naked Eyes - Promises Promises

[2015-12-22 03:32] dlindahl commented on #59
Thanks for the submission! Depending on how March plays out, we'll likely get this on for April.

[2016-01-05 02:48] dlindahl commented on #44
![Minions](http://www.reactiongifs.com/r/cheering_minions.gif)

Yay! So excited! Let me know if there is anything else I can do to help! :blush:

[2016-01-09 02:18] dlindahl commented on #44
@ashleygwilliams Your US tour plans appear to be coming along nicely :smile:  Any updates on your availability for the 26th?

Also, I'll need some talk titles/descriptions from both of you for a formal announcement that I'd like to make next week. Most of our attendees have never been to a conference which is why I'm excited to have both of you up to share your speaking talents with us! If you wan

[2016-01-11 06:48] tjwebb opened #60 "Trails.js"
hey, @dlindahl I'd love to give a talk on "API-Driven Development with [Trails.js](http://github.com/trailsjs/trails)" next time you guys have an opening. Let me know you think the group would enjoy this topic.

[2016-01-21 04:02] dlindahl commented on #59
Hey @Bradcomp, our speakers for January seem to have fallen through. Would you be able to give this talk on the 26th?

[2016-01-21 04:03] dlindahl commented on #45
@samt Our speakers for Jan appear to have fallen through. Any chance you could give this on the 26th?

[2016-01-21 05:04] samt commented on #45
I will have it ready for the 26th.

[2016-01-21 07:41] Bradcomp commented on #59
@dlindahl Sure! I can have something together for the 26th!

[2016-01-22 16:53] dlindahl commented on #59
Awesome! Thanks for pitching in last minute!

[2016-01-23 20:53] Bradcomp commented on #59
Minor quibble, but you have the wrong twitter handle up for me on the website.  Should be @notpmoc84

[2016-01-27 17:52] trusktr opened #61 "Hackathon"
How about a meetup during the live virtual Hack.Summit hackathon on Feb 20-21st? $150,000 in prizes. I think it'd be fun! hacksummit.org

[2016-01-27 17:52] trusktr commented on #61
Maybe there can be a local prize for SacJS specifically? If interested, I'll help raise awareness.

[2016-01-28 03:14] dlindahl commented on #35
Hey @slightlyoff, February will be here before we know it and I wanted to ping you to make sure that we're good to go for you to come up on the 23rd. All I need from you is a :100: on your ability to make it, a talk title, a talk length, and a sentence or two of an abstract for our meetup announcement.

Thanks!

[2016-01-29 22:36] #59 closed

[2016-01-29 22:36] dlindahl commented on #59
Yeah I caught that at some point... :smile: Sorry about that!

[2016-01-29 22:36] #45 closed

[2016-02-04 07:37] dlindahl opened #62 "Workshop 1: NodeSchool Sacramento"
TBD

[2016-02-04 07:38] dlindahl opened #63 "Workshop 2: International NodeBots Day"
**Date:** Saturday, July 30th
**Time:** TBD ~~9:00am - 5:00pm~~
**Location:** TBD ~~UC Davis Extension, Room 200~~
**Tickets:** TBD ~~https://ti.to/sacjs/reactjs-workshop~~
* * *

## Overview

TBD (https://github.com/nodebots/nodebotsday)

## Agenda

##### Pre-workshop

TBD

##### Day Before

TBD

##### ~~8:00am~~ - Day of Preparation

TBD

##### ~~9:00am~~ - Check-in

TBD

##### ~~10:00am~~ - Sta

[2016-02-04 07:38] dlindahl opened #64 "Workshop 3: TBD"
Ideas:

* Electron
* React Native
* [Meteor](https://www.meteor.com/)
* ???

[2016-02-24 23:48] decafdennis opened #65 "Talk proposal: Using Redux with React"
Name: Dennis Stevense
Twitter Handle: https://twitter.com/decafdennis
GitHub Username: https://github.com/decafdennis
Employer: Digital Deployment, Inc.
Hometown: Sacramento, CA
Talk Length: 20 mins (flexible)

Title: Using Redux with React
Brief Description: Introduction to React and Redux, and a demonstration of a tool we built using these and related libraries. (TBD)

[2016-03-26 16:39] efletch commented on #61
I like the idea of doing a meetup around a virtual hackathon. Hack.Summit has already passed but maybe we could do a different one?

[NASA Space Apps Challenge](https://2016.spaceappschallenge.org/) (April 21 - 22) was mentioned on the SacTech Slack a few days ago.

[2016-04-07 00:24] dlindahl commented on #65
@decafdennis Quick ping to confirm that you're still available to present on the 26th :smile:

[2016-04-07 01:10] #35 closed

[2016-04-07 01:11] #17 closed

[2016-04-07 01:11] #26 closed

[2016-04-07 01:13] #28 closed

[2016-04-07 02:32] decafdennis commented on #65
@dlindahl Yes I am!

[2016-04-07 23:20] trusktr commented on #61
@efletch Yeah, a hackathon in general would be awesome! It could even be a SacJS-specific hackthon. :D

[2016-04-09 03:44] carsongross opened #66 "Talk Proposal: What's New In Intercooler.js"
Name: Carson Gross
Twitter Handle: carson_gross
GitHub Username: carsongross
Employer: LeadDyno
Hometown: Sacramento
Talk Length: 10 minutes
---
Title:  What's new in Intercooler.js
Brief Description:  The last time I talked about intercooler at SacJS I was at version 0.4.9.  We are now at v0.9.5, and a bunch of new features have dropped:

*  Pure CSS transition animations
*  AJAX history support

[2016-04-09 18:05] daltonamitchell opened #67 "Talk Proposal: Stateless Web Apps with Elm"
Name: Dalton Mitchell
Twitter Handle: daltonamitchell
GitHub Username: daltonamitchell
Employer: Consolidated Fabricators
Hometown: Galt, CA
Talk Length: 10 mins
---
Title: Stateless Web Apps with Elm
Brief Description: I'll provide a brief introduction to Elm, a functional language that compiles to Javascript. I'll also talk about the benefits of immutability and the mindset shift that comes from

[2016-04-10 21:46] Bradcomp commented on #67
👍

[2016-04-12 21:53] a-axton opened #68 "Talk Proposal: The Physical Web"
Title: What is the physical web?
Description: The physical web is a movement by Google to bring digital interaction with physical objects to the web browser. It consists of a standard bluetooth protocol and a few emerging web technologies such as the bluetooth web api. Google has already launched an initial implementation for Chrome on Android. I'll go over the basics of the technology, why it's i

[2016-04-12 21:56] efletch commented on #68
+1

[2016-04-13 05:15] dlindahl commented on #68
@a-axton If you can bring this down to 10min, then it'd be a good fit for this month. OR you can do it next month if/when we do lightning talks, though it'd still be 10mins :blush:

[2016-04-13 05:19] dlindahl commented on #67
Thanks for submitting, we'll be officially announcing the lineup soon!

[2016-04-13 05:19] dlindahl commented on #66
Thanks for submitting, we'll be officially announcing the lineup soon!

[2016-04-13 05:19] dlindahl commented on #65
Thanks for submitting, we'll be officially announcing the lineup soon!

[2016-04-28 21:53] daltonamitchell commented on #68
This looks awesome! I'm already excited 👍

[2016-04-28 21:58] craigm26 opened #70 "Lightning Talk Proposal: www.beaconsafety.co"
We use Angular/Ionic to drive all of our products. We're a team of two founder over at www.beaconsafety.co

I'll go over Cavalcade, an attempt to incorporate network effects on MapMe.io.

Some of the issues with js that we've been looking at:

- Mapping API's

- A.I. landscape

- Internet of Things landscape

[2016-04-28 22:07] #65 closed

[2016-04-28 22:07] #66 closed

[2016-04-28 22:07] #67 closed

[2016-04-28 22:10] craigm26 commented on #70
Made my day!!

[2016-04-28 22:48] carsongross opened #71 "HATEOAS in 4 minutes and 47 seconds"
Name: Carson Gross
Twitter Handle: @carson_gross
GitHub Username: carsongross
Employer: LeadDyno
Talk Length: 4 min & 47 seconds

---

Title:  HATEOAS in 4 minutes and 47 seconds
Brief Description:  HATEOAS: understand what it is in about a minute.  Understand how it maps to OO concepts in another minute.  Realize that HTML is the best response format for REST-ful HATEOAS in about two minutes.  Su

[2016-05-11 15:38] towen opened #72 "Lightning Talk Proposal: AngularJS $http vs. $resource"
Name: Terry J. Owen
Twitter Handle: iknowmac
GitHub Username: towen
Employer: Fullstack Labs
Talk Length: 5 min.

---

Title:  AngularJS $http vs. $resource
Brief Description: Discussion of the  benefits vs. drawbacks on use either $http or $resource when consuming RESTful web services with AngularJS.

[2016-05-19 22:46] joeedh opened #73 "Lightning Talk Proposal: The Joy of Clothoid Curves"
Name: Joe Eagar
Twitter Handle: joeedh
GitHub Username: joeedh
Employer: want one
Talk Length: 5-10

---

Title: The Joy of Clothoid Curves
Brief Description: Clothoids are an exciting alternative to traditional Bezier curves.  Clothoids are great for logos, cartoon characters, 2D animation, and even steering self-driving cars.  This talk will demonstrate the sheer awesomeness of clothoids with a

[2016-05-20 19:28] dlindahl commented on #73
Woah, this sounds cool! Just to remind you that our lightning talks have a hard cut-off at 5 minutes. Hopefully you can cram everything in such a short time period! If you think the talk went well and people want to hear more, maybe we can have you back for a more in-depth talk.  See you next week!

[2016-05-21 15:35] ivanvillacreative opened #74 "Lightning talk Proposal: But I just Learned Gulp :/"
Name: Ivan Villa
Twitter Handle: ivan_villa
GitHub Username: ivanvillacreative
Employer: Transmute - Creative Agency
Talk Length: 5 Minutes

---

Title: " But I just Learned Gulp :/ "
Brief Description: This talk would be about my views on the fast pace Web Dev world. New things are showing up each day, and it's easy to get overwhelmed. Hopefully, this will help put some minds at ease, because it'

[2016-05-22 06:00] dlindahl commented on #74
Glad to have you back! I did take some liberties with your description because Mom's have great ideas and deserve cool web tech too! 😄 If you want to revise what I changed, let me know!

[2016-05-22 06:09] ivanvillacreative commented on #74
Haha, no that's perfectly fine :)

On Saturday, May 21, 2016, Derek Lindahl <notifications@github.com> wrote:

--
*Ivan Villa*
*co-founder*
transmute.co
creative agency

*Cell* 530.902.9631
*Office* 916.222.0871

[2016-05-22 19:50] roboprog opened #75 "Lightning Talk Proposal: Node "vs" Nashorn on the Server"
Name:  Rob Anderson
Twitter Handle:  N/A
GitHub Username:  roboprog
Employer:  UCD Medical Center
Talk Length:  5 minutes.

---

Title:  Node "vs" Nashorn on the Server
Brief Description:  Discussion of performance characteristics of JS code running on Node.js and Nashorn (Java 8's "jjs" scripting tool).

TL;DR:  Which is faster depends on the duration / repetitiveness of the run.

Will forward em

[2016-05-23 17:49] dlindahl opened #76 "Pick a date for NodeSchool Workshop in June"
@a-axton: Can you ask Brandon if there is an open weekend in June for us to run NodeSchool? Not sure on timing but something like NodeSchool SF and Oakland both go from 1pm - 5pm. So any 4 hour block would likely be OK.

I'm available on June 11, 12, 18, 19, 25, and 26

Though June 19 is Father's Day so we might want to avoid that one.

[2016-05-23 20:01] a-axton opened #77 "Lightning talk proposal: Hacking CSS units with PostCSS"
Name: Andy Axton
Twitter Handle: andyaxton
GitHub Username: a-axton
Employer: Rocket Dept.
Talk Length: 5 min

---

Title: Hacking CSS units with PostCSS
Brief Description: I'll be showing how to create our own CSS units using PostCSS, basic math and media queries. Will you want to use it in production? Probably not but it's still cool.

[2016-05-23 20:02] a-axton commented on #68
putting this on hold, wanted to do a different topic for lightning talk

[2016-05-23 20:02] #68 closed

[2016-05-24 22:41] a-axton opened #78 "Lightning talk proposal: How to market your project, by Rich Beckermeyer"
Name: Rich Beckermeyer
Twitter Handle: leland_beck
Github Username: N/A
Employer: RB Visuals
Talk Length: 5 min
Title: How to Market your project

---

Brief Description:
So, you’ve developed your project. Now what? You mom and your pet can’t be your only users. You’ve defined who your target user is. Right?

It can’t be everyone, everywhere.

Will your product look the same for a Kenyan national

[2016-05-24 23:54] towen commented on #72
Sorry, need to move this to June due to scheduling.

[2016-05-25 00:42] dlindahl commented on #72
Hey, no worries!

[2016-05-25 00:42] #72 closed

[2016-05-26 17:44] samt commented on #63
@dlindahl

* How much for each kit?
* How many kits?
* How much are we budgeting for meals?

[2016-05-28 17:59] #77 closed

[2016-05-28 17:59] #75 closed

[2016-05-28 18:00] #74 closed

[2016-05-28 18:00] #73 closed

[2016-05-28 18:00] #71 closed

[2016-05-28 18:00] #70 closed

[2016-08-06 21:44] Bradcomp opened #79 "Talk Proposal: You should write tests"
Name: Brad Compton
Twitter Handle: @notpmoc84
GitHub Username: bradcomp
Employer: CLC Inc
Talk Length: 30 minutes (could do less or more if that works better)

---

Title:  You Should Write Tests
Brief Description:
Why should we test our code?
Should we always write tests for our code?
What benefits do we gain from tests?
How can we write good tests?
Is TDD worth it?

We'll go over the benefits of

[2016-09-21 15:39] roboprog opened #80 "Javascript & Java interoperation using Java 8 Nashorn"
Name:  Robin ("Rob") Anderson
Twitter Handle:  N/A
GitHub Username:  roboprog
Employer:  UC Davis Medical Center
Talk Length:  30 to 90 minutes, as needed

---

Title:  Mixing Javascript and Java
Brief Description:  This is a talk I gave at SacJUG a while back (http://sacjug.org/MeetingArchive2016.html#Year2016) about using the JS script execution tool that comes with Java 8, and about calling bet

[2016-09-21 15:44] roboprog opened #81 "Immutable.js???"
Name:  Robin ("Rob") Anderson
Twitter Handle:  N/A
GitHub Username: roboprog
Employer: UC Davis Medical Center
Talk Length:  N/A - fishing/request

---

Title:  Info/demo for Immutable.js?
Brief Description:  Is anybody in the group using Immutable.js?  Do they have experiences and/or a demo to share?

[2016-09-22 03:50] dlindahl commented on #81
@roboprog - Are you asking for more info on Immutable or are you proposing a specific talk?

[2016-09-22 03:50] dlindahl commented on #79
@Bradcomp - Hey-o! Sorry for the late response, I've been slammed. Are you still up for giving a talk next Tuesday?

[2016-09-22 03:51] dlindahl commented on #80
@roboprog - An interesting proposal! 90 minutes is _way_ too long. Any chance you could get this down to 20mins?

[2016-09-22 03:51] #62 closed

[2016-09-22 03:51] #63 closed

[2016-09-22 03:51] #64 closed

[2016-09-22 03:51] #76 closed

[2016-09-22 04:10] roboprog commented on #80
I could probably shorten this substantially if I omit presentation/discussion of calling from Java back into JS, and simply take the approach that one wants to write in Javascript, making use of all that old Java stuff that was left behind, and skip any discussion of running the debugger.

[2016-09-22 04:12] roboprog commented on #81
I know little to nothing about it, but it *sounds* interesting.  Just asking if anybody (somebody else) would volunteer if he/she knew it was of interest to others.

[2016-09-22 12:18] Bradcomp commented on #79
Hi Derek,

Unfortunately I can't next Tuesday!  I'd be happy to do it at a later meetup though.

[2016-09-23 23:25] dlindahl commented on #79
No worries! Can you do Oct. 25?

[2016-09-24 21:06] Bradcomp commented on #79
Sure! I can do that!  How long should I plan for?

[2016-10-07 19:30] Bradcomp commented on #79
Just checking in.  Am I on for October 25th?  Should I plan for 30 minutes or 45?

[2016-10-07 19:39] dlindahl commented on #79
@Bradcomp yes and let's shoot for 30!

[2016-10-31 21:37] sungthecoder opened #82 "Talk Proposal"
Name: Sung Choi
Twitter Handle: @sychoi
GitHub Username: sungthecoder
Employer:
Talk Length: ~30min

---

Title: Brief History of JavaScript Module
Brief Description: Are you new to JavaScript and confused about modules, module loaders and module bundlers? Or you have been writing JavaScript code for a while, but can’t get a grip of the jargons about module? You heard about the jargons like Common

[2016-11-17 03:04] dlindahl commented on #82
@sungthecoder Are you available to give this talk on the 22nd?

[2016-11-17 13:52] sungthecoder commented on #82
Yes

[2016-11-17 17:27] cacciatc opened #84 "Talk Proposal: A middle-aged man hacks Super Mario Bros. You won't believe what happens next."
Name: Chris Cacciatore
Twitter Handle: @cacciatc
GitHub Username: cacciatc
Employer: Chris Cacciatore
Talk Length: 20 min

---

Title: A middle-aged man hacks Super Mario Bros. You won't believe what happens next.
Brief Description: I talked with Derek a million years ago about programming the NES and he said that that could be a fun talk. I still would like to try that someday, but in the interim

[2016-11-18 06:10] dlindahl commented on #84
Does this involve any javascript at all? If not, that's totally OK! Though it'd be great if you could at least include something like "here is where you can integrate with JS, take a look at these things" with some links to any resources or ideas you may have like:

* https://github.com/bfirsh/jsnes
* http://www.nobadmemories.com/connectednes/
* anything from https://twitter.com/batslyadams

Sound

[2016-11-18 18:31] cacciatc commented on #84
Cool cool. I have some ideas for injecting some JavaScript into the pres; although that will prolly increase the time needed a little. Is it OK if I wonder into 20-25 min territory?

[2016-11-21 06:42] decafdennis opened #85 "Taming a dinosaur with JavaScript and Docker"
Name: Dennis Stevense
Twitter Handle: https://twitter.com/decafdennis
GitHub Username: https://github.com/decafdennis
Employer: Digital Deployment
Talk Length: 10 minutes

---

Title: Taming a dinosaur with JavaScript and Docker
Brief Description: A brief overview of how we are using JavaScript and Docker to set up functional and visual regression testing for our Drupal 6 codebase.

[2016-11-21 06:45] decafdennis commented on #85
@dlindahl I can be ready to give this talk this Tue night if you have a slot!

[2016-11-21 21:03] dlindahl commented on #82
@sungthecoder Awesome! I'll add you to the schedule!

[2016-11-21 21:05] dlindahl commented on #85
Sounds good! I'll add you to the schedule. See you tomorrow!

[2016-11-21 21:28] dlindahl commented on #84
Yeah, you'll be ok at 20-25mins

[2016-12-01 03:18] #82 closed

[2016-12-01 03:19] #85 closed

[2016-12-01 03:19] #84 closed

[2016-12-01 03:19] #79 closed

[2016-12-01 03:20] #20 closed

[2016-12-01 03:20] #4 closed

[2016-12-01 03:20] #7 closed

[2016-12-10 21:58] ccfcheng opened #86 "Lightning Talk Proposal for 12/20 - Code Reuse in React and React Native Apps"
Name: Cliff Saporta Cheng
Twitter Handle: ccfcheng
GitHub Username: ccfcheng
Employer: Wyndow
Talk Length: 5 min

---

Title: Code Reuse in React and React Native Apps
Brief Description: Quick demonstration of the types of code/components that can be shared between React web apps and React Native apps

[2016-12-15 01:13] Wbmstrmjb opened #87 "Lightning Talk Proposal 12/20 - Serverless JS - Leveraging AWS Lambdas"
Name: Mike Barreiro
Twitter Handle: Wbmstrmjb
GitHub Username: Wbmstrmjb
Employer: SkySlope, Inc.
Talk Length: 5 min

---

Title: Serverless JS - Leveraging AWS Lambdas
Brief Description: Quick overview of AWS lambdas and how using them to run JS code is both cost effective and allows for massive scale.

[2016-12-18 21:16] #78 closed

[2016-12-20 04:31] craigm26 opened #88 "Lightning Talk proposal: "business idea validation""
Name: Craig Merry
Twitter Handle: CraigMerry
GitHub Username: craigm26
Employer: Purple Communications and Beacon Safety Co.
Talk Length: 5 minutes

---

Title: Business Idea Validation
Brief Description: "I've got the greatest idea ever for a business!" - how to validate your idea for a better chance of surviving and perhaps thriving as a new business.

[2016-12-20 17:10] JoshuaMorris opened #89 "Lightning Talk proposal 12/20: Intro to building an Alexa skill"
Name: Joshua Morris
Twitter Handle: TheWoollyBully
GitHub Username: JoshuaMorris
Talk Length: 5 minutes

---

Title: Intro to building a basic Alexa Skill
Brief Description: Basic introduction to building an Alexa skill. I will show code from the Dad Jokes skill I submitted to the Alexa Skills Store and talk about how to a build a simple skill. If I have time today I will try and throw together a

[2016-12-20 17:23] dlindahl commented on #89
Thanks for the submission, this will be a great talk to have! Just an FYI, our first talk will be focusing on AWS Lambda, so it should be possible to skip over the basics of that

[2016-12-20 17:25] JoshuaMorris commented on #89
It felt like it would pair nicely

[2017-01-02 23:48] #89 closed

[2017-01-02 23:48] #86 closed

[2017-01-02 23:48] #87 closed

[2017-01-02 23:48] #88 closed

[2017-01-04 03:27] dlindahl opened #90 "Brian Holt: TBD"
Name: Brian Holt
Twitter Handle: holtbt
GitHub Username: @btholt
Employer: Netflix
Talk Length: TBD

---

Title: TBD
Brief Description:
TBD

[2017-01-04 04:04] dlindahl commented on #90
@btholt we usually do 3 20-minute, 2 30-minute, or 1 45-minute talks at out meetups. How much time will you need for your talk? If you're shooting for a shorter talk length, feel free to recruit some co-workers/friends to come up to help fill out our talk slots!

We'll also need a talk title and description for our meetup announcement.

Our event venue is:
[The Urban Hive](http://www.theurbanhive.

[2017-01-09 05:33] btholt commented on #90
I'm still getting to this! I'm not sure I can rope another Netflixian into this but I'll check around. In any case, I think a 30 minute talk would suit me just fine.

[2017-02-10 04:56] chrisminnick opened #91 "Offline First Mobile Web Apps"
Name: Chris Minnick
Twitter Handle: chrisminnick
GitHub Username: chrisminnick
Employer: WatzThis?
Talk Length: 20-30min (could be longer if needed)

---

Title: Creating Offline First Mobile Web Apps
Brief Description: I'm just finishing writing and shooting a video course for Pluralsight about offline first mobile web apps. The course should be finished by Feb 28, and I'd like to come and talk a

[2017-02-10 18:54] dlindahl commented on #91
Sounds great!

[2017-02-12 00:34] aravindkarnam opened #92 "Reactive programming in javascript using Rxjs"
Name:
Twitter Handle:
GitHub Username: aravindkarnam
Employer: Student at sac state, intern at KPMG
Talk Length: 30 minutes

---

Title:
Brief Description:
RxJS is a library for composing asynchronous and event-based programs by using observable sequences.
Think of RxJS as Lodash for events.

[2017-02-15 00:03] dlindahl commented on #92
Sounds good! Looking forward to your talk!

[2017-02-15 00:57] dlindahl commented on #90
Hey @btholt, wanted to ping you to see if we are still on for March 28? Anything you need from us to lock this in? Also, if you need to stay the night and Netflix won't cover it, let us know, we may have some options available.

[2017-03-10 22:51] daltonamitchell opened #93 "Vue.js - Progressive JavaScript Framework or gateway drug?"
Name: Dalton Mitchell
Twitter Handle: daltonamitchell
GitHub Username: daltonamitchell
Employer: OnlyWire
Talk Length: 20 min

---

Title: Vue.js - JavaScript framework or gateway drug?
Brief Description: Vue.js is a flexible JavaScript framework for quickly & easily building interactive UI components or SPAs. This talk will cover what I've learned while using Vue at work over the past few months.

[2017-03-17 03:15] #91 closed

[2017-03-17 03:15] #92 closed

[2017-03-22 05:26] tyleralves opened #94 "The JS Tooling Renaissance"
Name: Tyler Alves
Twitter Handle:
GitHub Username: tyleralves (bitbucket at the day job)
Employer: Synapse Group
Talk Length: 25 min
**Note:** I want time to find the best possible examples to demo so please don't schedule me in for March!!

---

Title: The JS Tooling Renaissance
Brief Description:
The Renaissance is considered by historians to be the period of time that served as a bridge between

[2017-03-22 16:42] dlindahl commented on #94
Sounds good Tyler! Ping us when you've locked things in. We meet on the 4th Tuesday of the month putting our April meetup on the 25th.

[2017-03-29 16:15] samt commented on #93
Awesome job last night, thanks Dalton! (@daltonamitchell)

[2017-03-29 16:15] #93 closed

[2017-03-29 20:09] robert-paul opened #95 "Talk Proposal: Front End Framework Comparison"
Name: Robert Paul
Twitter Handle: @HelloThisIsRob
GitHub Username: robert-paul
Employer: Freelance
Talk Length: Minimum 20 minutes, can be tailored to be longer.

---

Title: A Comparison of Six Front End Frameworks (or enter other clickbait title)
Brief Description: A comparison of **Bootstrap 3.3.7** (http://getbootstrap.com/), **Bootstrap 4** (https://v4-alpha.getbootstrap.com/), **Materialize*

[2017-03-29 20:28] robert-paul opened #96 "Talk Proposal: Marking my journey with 🗺 + 📍 + <li>"
Name: Robert Paul
Twitter Handle: @HelloThisIsRob
GitHub Username: robert-paul
Employer: Freelance
Talk Length: Minimum 20 minutes

---

Title: Marking my journey with 🗺  + 📍 + `<li>`
Brief Description: You know that UI thing on Yelp, Zillow, and Airbnb, where you see markers on a map that correspond to a list of items on the side? Well, I needed to learn how to do that. I'm going to share my jour

[2017-04-04 23:21] robert-paul commented on #95
Punting on this one for the moment.

[2017-04-04 23:21] #95 closed

[2017-04-05 19:01] samt opened #97 "Erin McKean: Build an API in 20 minutes with Loopback"
Name: **Erin McKean**
Twitter Handle: https://twitter.com/emckean
GitHub Username: @emckean
Employer: **IBM**
Talk Length: 20min

---

Title: **Build an API in 20 minutes with Loopback**

Brief Description:
Got data? Get a full CRUD API in 20 minutes with LoopBack! You'll learn:
* how to connect LoopBack to your datasource
* how to create a model
* how to add a custom method
* ... and more!

[2017-04-05 19:13] emckean commented on #97
Title: Build an API in 20 minutes with Loopback
Brief Description: Got data? Get a full CRUD API in 20 minutes with LoopBack! You'll learn:
-- how to connect LoopBack to your datasource
-- how to create a model
-- how to add a custom method
and more!

[2017-04-05 19:20] samt commented on #97
Thanks @emckean! I've added in the talk information and the talk to our June 2017 Meetup Milestone.

[2017-04-10 21:15] dlindahl commented on #94
Hey @tyleralves, you still on board for our April meetup?

[2017-04-11 04:48] tyleralves commented on #94
@dlindahl Yessir. Playing with Elm for the last couple weeks makes me want to switch the stack but I'll stick with what I know for this one.

[2017-04-13 08:27] aravindkarnam opened #98 "Build an intelligent chat bot using Google's api.ai and Express App"
Name:
Twitter Handle:
GitHub Username: aravindkarnam
Employer: KPMG
Talk Length: 30 to 40 minutes

---

Title:
Brief Description: Learn to build your own personal assistant like Jarvis in Iron Man, using Google's api.ai and express framework, and google home.

[2017-04-13 17:27] robert-paul commented on #96
@dlindahl Do you have any suggestions for a better title? I'm really just using this UI feature as sharing one of my bigger "aha!" moments in understanding how web applications work.

[2017-04-15 04:04] robert-paul commented on #96
Updated!

[2017-04-29 23:52] abhiaiyer91 opened #99 "Abhi Aiyer: GraphQL + Apollo + You"
Name: Abhi Aiyer
Twitter Handle: abhiaiyer
GitHub Username: abhiaiyer91
Employer: Workpop
Talk Length: 30mins

---

Title: GraphQL + Apollo + You
Brief Description:
In this talk Abhi will explain how REST apis are things of the past and how GraphQL is positioning itself to be the replacement to your current Data Layer. A contributor to a suite of GraphQL tools called Apollo, Abhi will walk through

[2017-04-29 23:52] abhiaiyer91 commented on #99
Just moved to SAC from LA, would love to share my experience with you all!

[2017-05-03 04:34] aidanbdh opened #100 "Testing and test driven development in JavaScript and Node.js."
Name: Aidan Harvey
Twitter Handle: aidanharveydev
GitHub Username: aidanbdh
Employer: Freelance
Talk Length: Variable (I can talk about this for hours so however long you need)

---

Title: Testing and test driven development in JavaScript and Node.js
Brief Description: A talk all about testing and test driven development and how it can change your development experience, make you write better cod

[2017-05-03 04:43] aidanbdh commented on #100
You can see more specifically what I want to talk about here https://github.com/aidanbdh/sacjs-talk/issues

[2017-05-03 23:23] robert-paul commented on #96
Thanks for letting me give a talk. Had a great time!

[2017-05-03 23:24] robert-paul commented on #96
Thanks for letting me give a talk. Had a great time!

[2017-05-03 23:24] #96 closed

[2017-05-04 07:19] ebryn opened #101 "Glimmer.js: the past, present, and future of Ember.js"
Name: Erik Bryn
Twitter Handle: @ebryn
GitHub Username: @ebryn
Employer: Prototypal
Talk Length: 45 mins

---

Title: Glimmer.js: the past, present, and future of Ember.js
Brief Description: The newly released Glimmer.js library shows off Ember's rendering engine and makes it accessible to the broader web ecosystem. Erik will provide a little bit of history and discuss how Glimmer.js will shape th

[2017-05-05 17:31] #94 closed

[2017-05-05 17:42] #81 closed

[2017-05-05 17:42] #16 closed

[2017-05-05 17:42] #21 closed

[2017-05-05 17:44] dlindahl commented on #23
Moved to #101

[2017-05-05 17:44] #23 closed

[2017-05-05 17:44] #61 closed

[2017-05-05 17:44] #80 closed

[2017-05-05 17:45] #24 closed

[2017-05-05 17:45] #25 closed

[2017-05-05 17:46] dlindahl commented on #98
Are you available to give this talk at the June 27 meetup?

[2017-05-05 17:51] dlindahl commented on #99
We'd love to have you! Our next few meetups are starting to get booked up. The earliest we'd be able to schedule you would be as a back-up talk for June. Then we take a break for NodeBots Day in July, and then may be back for August depending if our other workshop plans fall apart. September we will definitely fully resume our regular meetups. Are there any dates that you are definitely not availa

[2017-05-05 17:52] dlindahl commented on #100
Our next few meetups are starting to get booked up. The earliest we'd be able to schedule you would be as a back-up talk for June. Then we take a break for NodeBots Day in July, and then may be back for August depending if our other workshop plans fall apart. September we will definitely fully resume our regular meetups. Are there any dates that you are definitely not available for (we meet the 4t

[2017-05-05 18:13] aravindkarnam commented on #98
Sure

[2017-05-05 23:35] aidanbdh commented on #100
I can do any day! Just let me know if any plans change.
On Fri, May 5, 2017 at 10:52 AM Derek Lindahl <notifications@github.com>
wrote:

[2017-06-02 20:21] #101 closed

[2017-06-12 00:46] abhiaiyer91 commented on #99
September sounds great! Can you book me in.

[2017-06-20 20:38] dlindahl commented on #99
Hi @abhiaiyer91, would you be available to talk next week on the 27th?

[2017-06-23 23:54] dlindahl commented on #100
Hey @aidanbdh, any chance you are free to give this talk for our next meetup on the 27th? We've got a 20min slot to fill. Thanks!

[2017-06-25 21:36] dlindahl commented on #98
@aravindkarnam are you still free for this Tuesday, the 27th?

[2017-06-26 04:57] aravindkarnam commented on #98
Yes, @dlindahl

[2017-06-26 17:00] dlindahl commented on #98
@aravindkarnam Great! See you tomorrow!

[2017-06-26 17:01] dlindahl commented on #99
@abhiaiyer91 cancel that, we were able to find another speaker for the 27th. We'd be interested in having you speak at our July meetup if you are available, however. Please let us know!

[2017-06-26 17:02] dlindahl commented on #100
@aidanbdh cancel that, we were able to find another speaker for the 27th. We'd be interested in having you speak at our July meetup if you are available, however. Please let us know!

[2017-06-28 18:47] dlindahl commented on #97
@emckean Thanks again for coming up and sharing Loopback with us! It was great meeting you and good luck on that "new" BMW!

[2017-06-28 18:47] #97 closed

[2017-06-28 18:48] #98 closed

[2017-06-30 20:23] iarna opened #102 "Rebecca Turner: A Brave New npm@5 World"
Name: Rebecca Turner
Twitter Handle: @ReBeccaOrg
GitHub Username: iarna
Employer: npm, inc
Talk Length: 10 - 15 min

---

Title: A Brave New npm@5 World
Brief Description: npm@5 was recently released along with node 8. Learn about what's changed, what new features we have and why you should be updating now. Plus super secret hints about what's to come.

[2017-06-30 20:41] dlindahl commented on #102
Awesome! We're looking forward to having NPM back in Sacramento! Do any other wombats want to come up and talk as well?

[2017-07-18 22:32] verythorough opened #103 "Jessica Parsons: Images or Single-page CMS"
I actually have two possible talks. I can submit them as separate issues if you prefer. I'm also happy to take feedback or questions.

Name: Jessica Parsons
Twitter Handle: @verythorough
GitHub Username: @verythorough
Employer: Netlify
(I live in the bay area now, but Sac is my hometown. 😄  )

---

Title: The Smart Shiba's Guide to Images for the Web
Talk length: 25min
Brief Description: Images ta

[2017-07-19 17:46] dlindahl commented on #103
Thanks for the submission @verythorough! I really like the abstract for the Images talk, let's go with that one. And no, its not _entirely_ because we'll get to see pics of Shibas 😀 🐕  Also, heads up, we are recording our presentations so you'll be wearing a wireless mic pack.

Do you have any questions for us! Our website is at sacjs.com and our Meetup.com page is https://www.meetup.com/The-Sacra

[2017-07-19 23:13] verythorough commented on #103
Thanks! I love this talk! 😺 I think I've got all the info I need. Looking forward to Tuesday!

[2017-07-24 23:16] dlindahl commented on #102
Hi Rebecca, just wanted to reach out and see if you had any last minute questions for us about the meetup tomorrow. If not, see you tomorrow!

[2017-07-24 23:18] iarna commented on #102
Nope, thanks though. (Due to a calendar mishap, I actually visited the venue last week already. =D)

[2017-07-31 19:27] wooorm opened #104 "Update for changes in remark, remark-lint"
[`remark`](https://github.com/wooorm/remark) and [`remark-lint`](https://github.com/wooorm/remark-lint) changed a bunch since it was implemented here. Most notably, see the [`remark-lint@6.0.0`](https://github.com/wooorm/remark-lint/releases/tag/6.0.0) changelog, and the [releases for `remark`](https://github.com/wooorm/remark/releases) page to find out more.

Or, feel free to ping us on [Gitter](

[2017-08-16 20:46] #102 closed

[2017-08-16 20:46] #103 closed

[2017-08-29 15:54] samt opened #105 "JavaScript on the ESP32"
| Property | Value |
| -- | -- |
| Name | Sam Thompson |
| GitHub Username | @samt |
| Employer | NodeSource |
| Talk Length | 20-40min |

---

Title: **JavaScript on the ESP32**

Brief Description:

What if I told you that you can run JavaScript on a device that costs less than $15. We will explore the fantastic world of JavaScript on hardware using Espruino, an embedded javascript interpreter fo

[2017-09-08 16:50] supercycle91 opened #106 "Serverless Framework"
Name: David Novicki
Twitter Handle: @novicki_david
GitHub Username: supercycle91
Employer: Dermveda
Talk Length: 20-30 min

---

Title: Serverless Framework - Cheap and Easily Maintainable Micro-services on AWS
Brief Description: Server-less applications can be a nightmare to maintain and organize. Serverless framework does all the heavy lifting so that you can have a server-less micro-service up

[2017-10-02 21:33] #105 closed

[2017-10-02 21:33] #106 closed

[2017-10-17 04:38] devonanderson opened #107 "Devon Anderson: JavaScript Performance API"
Name: Devon Anderson
Twitter Handle: devonwtanderson
GitHub Username: devonanderson
Employer: LinkedIn
Talk Length: 20 mins

---

Title: Do you know how fast you were going back there?
Brief Description: If you can't measure it, you can't improve it. I'll introduce you to the JavaScript Performance API's, and how they can be used to understand the impact your choices have on the performance of you

[2017-10-26 16:58] #107 closed

[2017-10-26 16:58] #90 closed

[2017-11-10 10:33] lebilly opened #108 "Brief Intro to Functional React Programming Talk"
Name: Billy Le
Twitter Handle: @xgeewhiz
GitHub Username: lebilly
Employer: CLC, Inc.
Talk Length: 25 minutes.

---

Title: Functional React Programming
Brief Description: An introduction to basic functional programming paradigm, stateless Components, Stateless Functional Components, Functional Components, and using functional programming utility libraries.

[2017-11-14 18:03] supercycle91 opened #109 "Ryan Burgess: TBD"
Name: Ryan Burgess
Twitter Handle: burgessdryan
GitHub Username: @ryanburgess
Employer: Netflix
Talk Length: TBD
---

Title:
Brief Description:

[2017-11-14 18:04] supercycle91 commented on #109
@ryanburgess Could you come down 1/23/2018? We host every 4th tuesday of the month so we are open to anything the date listed above as well.

[2017-11-14 23:41] ryanburgess commented on #109
That could work! Would you like us to do a panel / live recording of Front End Happy Hour? Or would you prefer to have a couple engineers speak from Netflix?

[2017-11-21 17:44] supercycle91 opened #110 "'Work it' featuring Service Workers"
Name: David Novicki
Twitter Handle: @novicki_david
GitHub Username: supercycle91
Employer: Dermveda
Talk Length: 20min

---

Title: 'Work it' featuring Service Workers
Brief Description: David will help you gain understanding of Service Workers and give some cool examples on how to use them. Unfortunately Missy Elliot could not make it.

[2017-11-27 17:48] supercycle91 commented on #109
I am very interested in a panel but would be interested in hearing some ideas that would align well with you guys.

[2017-12-01 20:03] lebilly opened #111 "⚡ Build a Gatsby.js Website and Deploy with Netlify ⚡"
Name: Billy Le
Twitter Handle: @xgeewhiz
GitHub Username: lebilly
Employer: CLC, Inc.
Talk Length: 5 minutes

---

Title: Build a Gatsby.js and Deploy with Netlify
Brief Description: Quick show and tell of using Gatsby.js and deploying a website with Netlify.

[2017-12-04 22:07] mtrivera opened #112 "Model-View-Controller with Cats"
Name: Miguel T Rivera
Twitter Handle: mtrivera3
GitHub Username: mtrivera
Employer: Self-Employed
Talk Length: 5 min

---

Title: Model-View-Controller with Cats 🐱
Brief Description: Learn about model-view-controller with cats

[2017-12-06 16:30] #108 closed

[2017-12-06 16:30] #110 closed

[2017-12-07 20:14] supercycle91 commented on #109
@ryanburgess :point_up: :grinning:

[2017-12-07 21:35] ryanburgess commented on #109
Great! It sounds like most of the Front End Happy Hour panelists are open to doing a panel discussion. It might be cool to try and live record an episode at sacjs too. We'd be open to topics to talk about too. Anything you think the audience would be really excited to discuss?

[2017-12-07 21:58] supercycle91 commented on #109
Sounds great. We have a mix of new web devs and experienced devs so topics can be tricky. I think things along the line of topics like: future of javascript, web performance, do's and don't's of javascript, PWAs, native vs web apps, future of web dev, what skills are important when working at large tech companies like netflix, etc. These are all just ideas but open to suggestions. We can surely sw

[2017-12-13 05:08] evgimov opened #113 "API Testing with Postman&Newman"
Name: Evghenii Ghimazitdinov
Twitter Handle: @evgimov_i
GitHub Username: evgimov
Employer: KISTERS
Talk Length: 5 min

---

Title: API Testing with Postman&Newman
Brief Description: Show an example of api testing using Postman&Newman

[2017-12-14 17:02] craigm26 opened #114 "PyBot Racing - Building self-driving toy cars"
Twitter Handle: @CraigMerry
GitHub Username: craigm26
Employer: self.
Talk Length: 5 minutes

---

Title: PyBot Racing - Building self-driving toy cars.
Brief Description: A short introduction to the PyBot Racing hobby of putting together rc cars with self-driving features. 1. What is PyBot Racing? 2. How is a typical car put together? 3. How is the model trained? 4. How is the car "re-programmed"

[2017-12-14 18:42] #104 closed

[2017-12-18 07:06] fadookie opened #115 "⚡Shaders! ⚡"
Name: Eliot Lash
Twitter Handle: @Eliot_L
GitHub Username: fadookie
Employer: Pear Therapeutics, Inc.
Talk Length: 5m

---

Title: Let's talk about pixels!
Brief Description: Very brief introduction to what shaders are. Time permitting, also a quick walkthrough of a simple video generator and video filter using GLSL/ISF

[2017-12-18 18:40] ryanburgess commented on #109
Thos are all great topics! I'll share them with the panelists and we can pick one.

I can moderate the panel as we typically record if that works?

[2017-12-18 22:24] cacciatc opened #116 "Green Glass Doors Game"
Name: Chris Cacciatore
Twitter Handle: cacciatc
GitHub Username: cacciatc
Employer: Self
Talk Length: 5m

Title: Green Glass Doors
Brief Description: A game with the audience. Info bout said game at https://www.thegamegal.com/2010/11/11/green-glass-doors/ (note, knowing will ruin the game)! Will mostly use JavaScript/programming/computer-themed clues.

This could be fun if the majority of the ppl

[2017-12-18 23:38] rizwanjavaid opened #117 "The Power of Sketching"
Name: Rizwan Javaid
Twitter Handle: @rizwanjavaid
GitHub Username: rizwanjavaid
Employer: Self
Talk Length: 5m

Title: The Power of Sketching
Brief Description: Coming back to present to the amazing SacJS group about the importance of sketching, especially for developers. I will also squeeze in a sketching exercise so it would be good if everyone had a pen and paper to follow along. It's going to

[2017-12-19 01:12] cdagler opened #118 "Lighting Talk Proposal: How I organize handouts for my high school students."
Name: Clay Dagler
Twitter Handle: cdagler
GitHub Username: cdagler
Employer: Franklin High School, Elk Grove Unified School District
Talk Length: 5 minutes

---

Title: How I organize handouts for my high school students.
Brief Description: I use several handouts in my classroom throughout the school year and need a way to organize them on my website. I decided to use the bootstrap drop-down menu

[2018-01-10 00:35] alcfeoh opened #119 "Alain Chautard - Introduction to Angular 5"
Name: Alain Chautard
Twitter Handle: @AlainChautard
GitHub Username: alcfeoh
Employer: Self (Angular Training)
Talk Length: 20 to 45 mins, up to you

---

Title: Introduction to Angular 5

Brief Description: Alain Chautard will go through an introduction to the Angular framework. If you don't know anything about Angular, that's a perfect opportunity to learn all of the basics and get you started w

[2018-01-12 06:53] decafdennis opened #120 "Easy front-end JavaScript testing with Cypress"
Name: Dennis Stevense
Twitter Handle: @decafdennis
GitHub Username: @decafdennis
Employer: Digital Deployment
Talk Length: 20m

---

Title: Easy front-end JavaScript testing with Cypress
Brief Description: Cypress is a new(ish?) test framework that makes testing front-end code easy and fast right out of the box. I'll demonstrate how we're using it with a non-trivial real-world example, and I'll al

[2018-01-19 18:39] nraboy opened #121 "Developing Full Stack Applications with Node.js, Angular and NoSQL"
Name: Nic Raboy & Corbin Crutchley
Twitter Handle: nraboy & crutchcorn
GitHub Username: @nraboy & @crutchcorn
Employer: Couchbase & WireFlare
Talk Length: 1 hour to 1.5 hours depending on what is allowed

---

Title: Developing Full Stack Applications with Node.js, Angular and NoSQL

Brief Description:
In this session, participants will learn how easy it is to develop modular full stack applicatio

[2018-01-29 19:29] nraboy commented on #121
@sacjs, any update on this?

[2018-02-15 17:33] #22 closed

[2018-02-15 17:33] #44 closed

[2018-02-15 17:33] #60 closed

[2018-02-15 17:33] #99 closed

[2018-02-15 17:33] #100 closed

[2018-02-15 17:33] #111 closed

[2018-02-15 17:33] #112 closed

[2018-02-15 17:33] #113 closed

[2018-02-15 17:33] #114 closed

[2018-02-15 17:33] #115 closed

[2018-02-15 17:33] #116 closed

[2018-02-15 17:33] #117 closed

[2018-02-15 17:33] #118 closed

[2018-02-15 17:38] dlindahl commented on #109
@ryanburgess just for the sake of completeness, I'm commenting on this thread. You're good to do whatever you want to do. Brian told me that all you need is a table and chairs. If there is anything else you need, please let me know! We'll also be video recording this if thats OK with you all.

[2018-02-15 17:43] dlindahl commented on #119
Hey Alain, would you be able to do this in a 30mins block of time on March 27?

[2018-02-15 17:43] dlindahl commented on #119
PS - Sorry for the ridiculously late response! 😬

[2018-02-15 17:44] dlindahl commented on #120
Hey Dennis, once I have two talk proposals in front of you. Once I know when they are available, I'll get you scheduled. Are you ok doing this talk on April 24th (with March 27 as a back-up?)

[2018-02-15 17:46] dlindahl commented on #121
Hey, sorry for the late response. We normally don't do hands-on workshops during our regular meetup schedule, but we do have "Summer School" in June/July/August. Would you be interested in running this workshop as part of that segment?

[2018-02-15 17:49] nraboy commented on #121
My vision wasn't to have this as a true workshop with labs. More of a watch us demonstrate how easy it is to build an application with these technologies and give people the confidence to try it at home.

What do you think?

[2018-02-15 17:58] decafdennis commented on #120
Yes, either date works for me as of now. Thanks!

[2018-02-15 17:58] alcfeoh commented on #119
Yes, can do on March 27th. No problem for the delay, we're all busy.

[2018-02-15 17:58] dlindahl commented on #121
Ah ok, I misunderstood. The "coding along" portion is difficult given our typical setup. We don't have work surfaces for everyone and typing on your lap in a folding chair is not comfortable.

An hour is a bit too long, any chance you could get this done in 45 minutes? Or maybe break this up into two 30min talks? One could focus on API design in Node and NoSQL and the other could focus on interact

[2018-02-15 18:06] ryanburgess commented on #109
@dlindahl thanks for following up! We are all set for February 27. We are excited to come speak.

Table and chairs would be great!  That's great you'll record video of it. I'm all for it. One thing that I would like, if possible, can we have a copy of the video or audio? I'd like to be able to publish an episode if we can from the event.

[2018-02-15 18:11] crutchcorn commented on #121
I've just spoken with @nraboy and we're totally up for two 30 minute talks with mine (Angular) being based on @nraboy's (the API). Should I open a new issue for my talk or would it be possible to coordinate both in this issue?

[2018-02-15 18:16] dlindahl commented on #109
Yeah, that's not a problem. Are you planning on bringing all of the equipment you normally use to record an episode? I only have lapel mics (2 good quality, 1 ok quality)

[2018-02-15 18:20] dlindahl commented on #121
Nah, no reason to break the issues up. All I need is some catchy titles for both pieces.

When it comes to writing the material, I'd suggest keeping them as atomic as possible to keep things engaging (if that makes sense)

[2018-02-15 23:00] crutchcorn commented on #121
After thinking all day of various puns, we have settled on the two talk names:
`Express yourself with Node; NoSQL needed` - @nraboy
And
`Smooth sailing with Angular` - Me

I'll likely mention that the API is in reference to another talk, but will try to write my talk so that you don't necessarily have to see the other talk (which is fairly simple to do by defining types in classes from the API ahe

[2018-02-16 18:50] ryanburgess commented on #109
@dlindahl we can bring equipment then. We will require a table then so we can set up all the equipment for recording. Also, do you mind providing details about the event, what time we should be there? How long should we plan to run the panel for? Anything else we should know?

[2018-02-16 19:09] ryanburgess commented on #109
I see we are on at 7:05 and have an hour. That's perfect.

[2018-02-20 03:06] nraboy commented on #121
@dlindahl What dates did you have in mind for this?

@crutchcorn isn't available on Tuesdays and Thursdays because of school. I'm pretty open, but it'd be best to have it with a month of notice so we can help you promote it.

Let us know what you're thinking.

Best,

[2018-02-20 18:23] dlindahl commented on #109
The start time is a rough estimate and you have about as much time as you need. I went to checkout our new venue the other day and only have a couple things you should know.

The ceilings have lots of duct work protruding from them so the projector will be on a table and projecting over your heads. Not a big deal but just be aware so that no one accidentally blinds themselves like I always seem to

[2018-02-25 19:07] ryanburgess commented on #109
Hey! That shouldn't be a problem. It is a live show so it can't be perfect audio quality but hopefully, it will sound decent.

We will plan to be there around 6 or 6:30 pm. We will bring mics with us to record to our computers. Will the other mics pick us up enough for the camera and audience? We can also make sure to speak loud.

[2018-02-27 06:43] dlindahl commented on #109
The lavalier mics I have are half-way decent. If I space them out accordingly, it should have no problem picking everyone up. We can also trade data files afterwards if need be. My camera has 4 inputs and we usually only use 2. The venue has a handheld mic that we may use for audience questions, but I'm not sure how compatible it is with my setup.

Other than that, is there anything our attendees

[2018-03-01 05:29] dlindahl commented on #121
We have one 30 minute slot available on March 27 so if you want, we can get you on this month @nraboy. Not sure what to do about @crutchcorn's schedule since we've been doing Tuesdays for the last three years. Any chance we can find a hole in your schedule in the future so we can slot you in?

[2018-03-01 14:15] crutchcorn commented on #121
I've just confirmed that I am able to take a day from my class schedule in order to do the talk. What days are open?

[2018-03-01 16:29] nraboy commented on #121
Tuesday March 27 works for me. @crutchcorn does that work for you?

[2018-03-01 16:31] crutchcorn commented on #121
I wouldn't be able to make it on the 27th but we could communicate about your talk since it seems like there's only one session opening and I could do my half of the talk on a different day

[2018-03-01 16:54] dlindahl commented on #121
If April 24th works for both of you, we can do it then. Sound good?

[2018-03-02 05:03] alcfeoh commented on #119
Ok looks like March 27th will actually be tough for me. Can we schedule my talk for... June instead?

[2018-03-02 18:00] nraboy commented on #121
Talked to @crutchcorn, April 24th works for both of us. I am going to add it to my calendar.

Can you send us the Meetup link when you post it so we can promote it?

Thanks,

[2018-03-05 22:57] nraboy commented on #121
Hey @dlindahl can you lock us in and get us on the Meetup calendar?

[2018-03-08 05:35] JohnRPB commented on #120
That sounds really cool... looking forward!

[2018-03-12 17:00] nraboy commented on #121
Hey @dlindahl, just checking in on this

[2018-03-13 16:16] dlindahl commented on #119
Yeah no problem. I'll put you in for the June 26 meetup

[2018-03-13 16:17] dlindahl commented on #120
@decafdennis we had a cancellation for March. Are you available on March 27 to give this talk?

[2018-03-13 16:17] dlindahl commented on #121
Yep, we're good for April. I'll make the requisite updates

[2018-03-13 16:19] dlindahl commented on #121
Only extra bit I need is a description for the two talks for the website

[2018-03-13 16:33] alcfeoh commented on #119
Awesome, thanks. Also, it's going to be an introduction to Angular 6 since this version is going to be released soon.

[2018-03-13 18:17] decafdennis commented on #120
@dlindahl Yes!

[2018-03-16 16:11] nraboy commented on #121
Hey @dlindahl,

How about this description for my 30 minute session:

In this session, participants will learn how to create a RESTful API with CRUD endpoints using the Hapi.js JavaScript framework for Node.js and the open source NoSQL database, Couchbase. We'll explore everything from key-value operations to rich querying of JSON data with SQL, yielding results that can be easily applied towards

[2018-03-16 16:31] dlindahl commented on #109
@ryanburgess any chance you can hook me up with your copy of the podcast audio? My feed for Jem and Brian were great, but the Augustus/Mari is barely useable, and Stacey/Derek is passable.

[2018-03-18 17:59] ryanburgess commented on #109
@dlindahl I'd be happy to share it with you.

Do you want the individual tracks? Or I just released the episode http://frontendhappyhour.com/episodes/bar-tending-to-your-codebase/

[2018-03-19 22:13] crutchcorn commented on #121
Sorry for the delay - just moved into my new place.

My 30 minute session can have this as the description:

Ever wondered how to create an Angular webapp that efficiently communicates with a NoSQL backend? We'll cover the basics such as routing, HttpClient listeners, and more! We'll even PWA-ify the place up! If you're curious how to structure your Angular application, allowing future growth and

[2018-03-20 16:41] dlindahl commented on #109
@ryanburgess If I could get the individual tracks, that'd be great!

[2018-03-20 17:07] dlindahl commented on #121
Perfect! Its live up on https://www.sacjs.com/events/2018-04-24-monthly-meetup/

I'll get it into Meetup.com soon-ish

[2018-03-22 23:25] nraboy commented on #121
Just checking in to see if you had a chance to update the Meetup.com site.

[2018-03-26 02:42] ryanburgess commented on #109
Do you want to email me and I can send you the tracks ryanb@netflix.com

[2018-04-09 17:04] dlindahl commented on #121
@nraboy Meetup has been announced!

https://www.sacjs.com/events/2018-04-24-monthly-meetup/
https://www.meetup.com/The-Sacramento-Javascript-Meetup/events/247295930/

[2018-04-09 18:31] nraboy commented on #121
Awesome!

Thanks Derek!

[2018-04-10 15:08] #120 closed, assigned to nobody

[2018-04-27 14:12] samt opened #122 "Web USB"
Name: Sam Thompson
Twitter Handle: samdtho
GitHub Username: @samt
Employer: [Particle](/particle-iot)
Talk Length: 30-45mins

---

Title: Web USB (Working Title)

Abstract:
Imagine a world where you plug in your USB printer and a webpage opens up to the manufacturer's website, and without leaving your web browser, drivers are installed and a test page is already printing. What if you could plug in

[2018-05-10 22:35] #121 closed

[2018-07-03 15:56] ImJohnDoe opened #123 "Talk Proposal | Angular Schematics"
Name: Roman Pshichenko
GitHub Username: imjohndoe
Employer: Infinite Technologies Inc.
Talk Length: 20 minutes

---

Title: Reusing Good Code with Schematics

Brief Description:
Angular CLI empowers you to start a new app easily. The set of schematics provided by the angular cli team let’s you generate an app with many good features. You get a ready to run app, a testing framework built in, naming

[2018-07-24 05:45] ImJohnDoe opened #124 "Layout | CSS Grid"
Name: Roman Pshichenko
GitHub Username: imjohndoe
Employer: Infinite Technologies Inc.
Talk Length: 20 minutes

Title: Layout | CSS Grid
Brief Description:
CSS was not meant to handle layouts until now. Be it backend, front end or full stack, this is a serious problem that many developers face. Without using using a framework like bootstrap we will layout some sample UI  to help us understand the

[2018-07-24 05:49] ImJohnDoe commented on #123
Hi @dlindahl, thanks for getting back to me.
I would love to present this topic, but I would like to polish up the demo portion. How about next month?

If CSS is a topic of interest, I’d love to talk about CSS grid tomorrow. [Here is a link to my proposal](https://github.com/sacjs/website/issues/124)

[2018-08-16 19:54] jonjahr opened #125 "Realtime browser playback of a motion-tracked image plane over a video, using After Effects, Three.js, and React."
Twitter Handle: @jonjahr
GitHub Username: @jonjahr
Employer: Meringcarson
Talk Length: 30 minutes

---

Title: Realtime browser playback of a motion-tracked image plane over a video, using After Effects, Three.js, and React.

Brief Description: Postmortem of a recent project where I learned how to composite a motion-tracked image plane over pre-recorded video in the browser.   Specifically, I reco

[2018-08-16 20:20] jonjahr opened #126 "Introduction to animated page transitions in React with GreenSock"
Twitter Handle: jonjahr
GitHub Username: jonjahr
Employer: MeringCarson
Talk Length: 30 minutes
---
Title: Introduction to animated page transitions in React with GreenSock

Brief Description: You're making a React Single-Page App.  You want animated page transitions.  You found `react-transition-group` and `CSSTransition`, but that doesn't quite satisfy your appetite for animation.  You want the

[2018-09-08 03:32] dlindahl commented on #119
@alcfeoh I'm working on setting up our meetup for September 25th. Are you free to give this talk then?

[2018-09-08 03:41] #122 closed

[2018-09-08 03:42] dlindahl commented on #124
@ImJohnDoe Are you available to give this talk during our meetup on September 25?

[2018-09-08 05:37] alcfeoh commented on #119
Yes, September 25th works for me. Can I block it in my calendar?

On Fri, Sep 7, 2018, 20:32 Derek Lindahl <notifications@github.com> wrote:

--
Alain Chautard
Google Developer Expert in Angular
Consultant and trainer at angulartraining.com - Interstate 21 LLC

[2018-09-12 03:27] dlindahl commented on #119
@alcfeoh Yep! I'll make it official on our website and Meetup page

[2018-09-12 03:36] alcfeoh commented on #119
@dlindahl Excellent, thanks!

[2018-09-13 17:56] masyukun opened #127 "Talk Proposal | Geospatial Applications created using JavaScript (and NoSQL)"
Name: Matthew Royal
Twitter Handle: @masyukun
GitHub Username: masyukun
Employer: MarkLogic Corporation
Talk Length: 30 mins

---

Title: Geospatial Applications created using JavaScript (and NoSQL)

Brief Description: Matthew Royal will demonstrate the Geophoto web application, that ingests georeferenced image data into JSON EXIF documents and RDF triple graph data to display on a map, and link w

[2018-09-16 02:42] ImJohnDoe commented on #124
Hi Derek, im sorry for the delayed response. I can present on this topic on the 25th.

[2018-09-27 23:06] soldair opened #128 "Talk Proposal: Tink, Plug n Play, what about my way?"
Name: Ryan Day
Twitter Handle: soldair
GitHub Username: soldair
Employer: google
Talk Length: 10-20

---

### Title:
Tink , Plug n Play, what about my way?

### Brief Description:
Both yarn and npm in a feat of simultaneous invention have brought us new patterns to store and resolve your dependencies without node_modules.
I'm going to talk about trade offs, interesting implementation details, and

[2018-10-17 18:10] a-axton commented on #119
Thanks for speaking Alain!

[2018-10-17 18:10] #119 closed

[2018-10-17 18:15] a-axton commented on #124
@ImJohnDoe Sorry we didn't get you in last meetup. Are you available to give this talk at our next meetup October 23rd?

[2018-10-17 19:57] ImJohnDoe commented on #124
@a-axton Id be happy to.

[2018-10-17 21:29] a-axton commented on #128
Hey @soldair! Thanks for submitting a proposal. Are you available to give this talk at our next meetup on Oct 23rd?

[2018-10-17 21:30] a-axton commented on #124
Awesome, look forward to it!

[2018-10-17 21:50] soldair commented on #128
sure =)
see y'all there

[2018-10-17 21:55] a-axton commented on #128
Great! We'll be pairing you with a talk on CSS grid which should be around 20 minutes. See you then!

[2018-10-24 17:22] #128 closed

[2018-11-07 21:49] a-axton commented on #124
Thanks for coming!

[2018-11-07 21:49] #124 closed

[2018-11-09 04:47] crutchcorn opened #130 "Talk Proposal: React Hooks"
Name: Corbin Crutchley
Twitter Handle: crutchcorn
GitHub Username: crutchcorn
Employer: Linkd Inc. (I do not represent them in any way in this talk)
Talk Length: 30mins

---

Title: Reeling you in on React Hooks
Brief Description: An introduction to React Hooks; what they are, why you'd want to use them, and how to add them to a project today*. Knowing a bit about React will help you here, but is

[2018-11-14 06:36] drnugent opened #132 "Talk proposal: JS Testing with Mocha"
Name: Christopher Hiller
Twitter Handle: @b0neskull
GitHub Username: boneskull
Employer: IBM
Talk Length: 30m

---

Title: JS Testing with Mocha
Brief Description: I start real basic; some testing terminology, then show how to get started from scratch with Mocha.  I have some example code (Express middleware) which I then describe how to write unit and integration tests for (and run them)

[2018-11-26 20:21] boneskull commented on #132
Hi :wave: this is my talk; I'm looking to book travel and was wondering if there was any update?

[2018-11-29 14:52] nharrisanalyst opened #133 "Talk Proposal : DECK.GL and building Geospatial data visualization web apps"
Name: Nathan Harris
Twitter Handle: nathaniharris
GitHub Username: nharrisanalyst
Employer: Freelance Data Visualiation Dveloper
Talk Length: 20min

---

Title: DECK.GL and building Geospatial data visualization web apps
Brief Description:
DECK.GL is a WebGL-powered framework for visual exploratory data analysis of large datasets.
I introduce WebGL and talk about how it can be used for data visual

[2019-02-25 05:31] ImJohnDoe opened #134 "One Model to Rule Them All"
One model on the backend going into the database and the same model going to the front end. *Yes*. That is true power. *Yes*. It can be automatic. *Yes*. That is one super model.

Take that Lord of the Rings.

`Swagger/OpenAPI` has opened some incredible doors in API interaction. Like the generation of typescript front end clients that simplify such interaction.

`LoopBack 4` not only generates a

[2019-03-07 20:33] nharrisanalyst opened #135 "No More meetups??"
Why are there no more meetups this community helped me when I was learning JS and educated me to where I am now and seeing it die saddens me I know we have speakers and people would attend if we held meetups.
There is always a tech recruiter or two that will sponsor?
So what is stopping the meetups??

[2019-03-18 20:24] a-axton commented on #135
We skipped one or two because we were busy and then I don't know... it just kind of happened. Thanks for saying something, it's helped get us motivated to start them up again. I'm hoping to resume them next month

[2019-03-19 21:05] nharrisanalyst commented on #135
cool sorry I did this but I started coming to this meetings before I was a professional several years ago and now I work full time in Javascript and getting together really helped me stay motivated and get educated. So it would be hard to see them go away.

[2019-03-20 17:41] a-axton commented on #135
No need to apologize 🙂 I'm glad our meetings were helpful to you, hopefully we can reboot them and help even more people out!

[2019-04-05 18:25] ImJohnDoe commented on #134
Closing due to lack of activity

[2019-04-05 18:25] #134 closed

[2019-04-08 18:26] a-axton commented on #133
@nharrisanalyst Hey Nathan, would you be willing to give this talk at our next meet up on April 23rd?

[2019-04-09 23:27] nharrisanalyst commented on #133
I couldn't give it this month I just relocated to the Bay Area but I am 90% sure I could give it the following month.

[2019-04-10 20:34] thefatpanther opened #136 "Talk proposal: Communication Skills for Technical & Creative Professionals"
This talk delves into adding business analysis and communications skills into the toolbox of technical professionals such as graphic artists, software engineers, database administrators and DevOps Engineers. We will talk about how to add value during the discovery process, the art of asking questions, working alongside business analysts and how end-to-end documentation builds better products today

[2019-04-12 01:37] a-axton commented on #136
Can't wait!

[2019-04-12 17:00] efletch commented on #136
What date will this talk be? I don't see anything listed on the SacJS Meetup Group yet https://www.meetup.com/The-Sacramento-Javascript-Meetup/

I want to share it with some coworkers 😄

[2019-04-12 18:16] a-axton commented on #136
Tuesday, April 23rd. Posting should be up soon

[2019-04-14 18:00] a-axton commented on #130
Hey Corbin, I know it's been a while since you submitted this but would you be available to speak at our next meetup? We'll be having it next Tuesday on the 23rd

[2019-04-14 18:23] crutchcorn commented on #130
I very much can!

[2019-04-14 19:30] a-axton commented on #130
Awesome! Thank you for the quick reply! Looking forward to it.

[2019-05-01 23:14] a-axton commented on #136
Thanks for speaking Mark, really enjoyed it. Made me realize how much I can improve my communication and how important it is

[2019-05-01 23:14] #136 closed

[2019-05-01 23:14] a-axton commented on #130
Thanks Corbin, awesome talk!

[2019-05-01 23:14] #130 closed

[2019-05-01 23:21] a-axton commented on #133
Our next meetup is on the 28th, are you available to speak then?

[2019-05-01 23:23] #135 closed

[2019-05-01 23:27] a-axton commented on #132
Hey @boneskull, sorry for the really late reply but are you still interested in giving this talk? We just started having meetups again and our next one is on the 28th

[2019-05-02 16:28] nharrisanalyst commented on #133
yeah I could do it then

[2019-05-14 18:33] a-axton commented on #133
Awesome! I'll put you down for it

[2019-05-15 16:18] nharrisanalyst commented on #133
Ok sounds good but my employer is now Plume LLC

[2019-05-29 03:05] mantsui opened #137 "Talk Proposal: Tableau Javascript API and D3 integration"
Name: Man Tsui
Employer: UC Davis Health
Talk Length: 30 min

Title: Tableau Javascript API and D3 integration
Custom data visualization on top of Tableau with popular open-source API like D3.js,
reveal.js, and etc.

Good starting point to lead to Tableau Extension API

Examples:
https://mantsui.github.io/Tableau_D3_Sunburst_MedicareIP
https://mantsui.github.io/Tableau_Portfolio_01
https://mantsui

[2019-05-29 20:05] a-axton commented on #133
thanks for speaking Nathan, DECK.GL is freaking awesome

[2019-05-29 20:05] #133 closed

[2019-05-29 20:06] #123 closed

[2019-05-29 20:07] a-axton commented on #126
I'm closing older proposals, if you're still interested in doing this talk let me know and I can re-open

[2019-05-29 20:07] #126 closed

[2019-05-29 20:08] a-axton commented on #125
I'm closing older proposals, if you're still interested in doing this talk let me know and I can re-open

[2019-05-29 20:08] #125 closed

[2019-05-29 20:08] a-axton commented on #127
I'm closing older proposals, if you're still interested in doing this talk let me know and I can re-open

[2019-05-29 20:08] #127 closed

[2019-05-29 20:09] a-axton commented on #132
I'm closing older proposals, if you're still interested in doing this talk let me know and I can re-open

[2019-05-29 20:09] #132 closed

[2019-05-29 20:11] a-axton commented on #137
Thanks for submitting, Man!

[2019-05-30 09:03] tnishimura opened #138 "Talk Proposal: Lessons in Electron Development"
Name: Toshiro Nishimura
Twitter Handle:
GitHub Username: tnishimura
Employer: Independent
Talk Length: 20+ minutes, flexible

---

Title: Lessons in Electron Development
Brief Description:

Electron is the thing that bundles a webapp and browser into a desktop app, right? Well, yes, but the devils are in the details. In this talk, I'll go over some of the things I've learned over a full year of de

[2019-05-31 01:20] a-axton commented on #138
Thanks for submitting the proposal, looks awesome!

[2019-06-15 01:11] a-axton commented on #137
Hi Man, I'm going to go with the other proposal this month because our last talk was similar to your topic. Are you open to giving it at future meetups?

[2019-06-20 16:36] thefatpanther opened #139 "Talk Proposal: RAD w/ CF & JS"
Name: Mark Takata
Twitter Handle: TheFatPanther
GitHub Username: TheFatPanther
Employer: UC Davis
Talk Length: 30-45 minutes

---

Title: Rapid Application Development with Coldfusion & JavaScript
Brief Description: I will cover the art of speed-propping applications to get client eyes on them early by using the RAD platform Coldfusion for data access and Intercooler.JS for the display layer, with

[2019-06-24 14:20] mantsui commented on #137
Sure, no problem. I can give it at future meetups.

[2019-06-24 14:20] #137 closed

[2019-06-27 05:52] taylorpoe opened #140 "Talk Proposal: Design Systems with Diez"
Name: Taylor Poe
Twitter Handle: @taylorpoe
GitHub Username: @taylorpoe
Employer: Haiku
Talk Length: 25 minutes

----

Title: Unify your design language

In this talk we'll explain why having a design system can help your team and products, regardless of scale. We'll also demo https://diez.org — a new design system framework that makes it easy to adopt a unified design language across codebases an

[2019-07-15 22:02] a-axton commented on #140
Sorry for taking so long to accept! Are you still available to speak on the 23rd?

[2019-07-15 22:42] #138 closed

[2019-07-17 23:42] a-axton commented on #140
Accepted for 8/27 meetup, thanks!

[2019-07-18 01:53] taylorpoe commented on #140
I'll plan on it! Thanks!

[2019-07-22 17:02] crutchcorn opened #141 "Talk Proposal: Angular Templates — From Start to Source"
Name: Corbin Crutchley

Twitter Handle: @crutchcorn

GitHub Username: @crutchcorn

Employer: Hilton (I do not reflect their views)

Talk Length: 30min-1hr (up to you!)

---

Title: Angular Templates — From Start to Source

Brief Description:
In this talk, we’ll explain what templates are, how they relate to views, and how Angular uses them inside it’s own source code (including reading some of its

[2019-08-06 19:41] crutchcorn commented on #141
This talk has an associated blog post here:

https://unicorn-utterances.com/posts/angular-templates-start-to-source/

And generally follows (admittedly much more info on the blog post) the same structure as the post

[2019-08-06 22:24] nbunneysky opened #142 "Deno, a better Node"
Name: Nate Bunney

Twitter Handle: @nbunney

GitHub Username: @nbunney

Employer: Skyslope.com

Talk Length: 45min-1hr

Title: Deno, a better Node

- Why Deno
- Difference from Node.js
  - Better Security
  - Better Module System
  - Multi-Threaded
  - Typescript Baked In - Brief talk (10 mins) on Typescript and why it is a good addition
- Demo of Deno - Start with a "mostly there" file and add in

[2019-09-05 17:34] #140 closed

[2019-10-11 01:31] a-axton commented on #142
Thanks again Nate!

[2019-10-11 01:31] #142 closed

[2019-10-11 01:33] a-axton commented on #141
Hey @crutchcorn , sorry for the late notice but would you like to give this talk at our next meetup (Oct 22nd)?

[2019-10-11 05:16] crutchcorn commented on #141
I sure can

[2019-10-14 00:03] crutchcorn commented on #141
Event still says TBH on meetup? Are we able to change that?

[2019-10-14 23:42] a-axton commented on #141
Thanks! I will get on that ASAP and announce it

[2019-10-22 05:20] charlespierce opened #143 "Talk Proposal: Making Tool Management Disappear with Volta"
Name: Charles Pierce

Twitter Handle: [@chuckapierce](https://twitter.com/chuckapierce)

GitHub Username: @charlespierce

Employer: LinkedIn

Talk Length: 30 mins

---

**Title**: Making Tool Management Disappear with Volta

**Brief Description**: Have you ever wasted hours chasing a mysterious bug instead of the actual work you had planned, only to discover you were using the wrong version of Nod

[2019-11-05 22:58] drnugent opened #144 "Build Serverless Applications with Apache OpenWhisk"
Name: Dave Nugent

Twitter Handle: @drnugent

GitHub Username: drnugent

Employer: IBM

Talk Length: 30-60m

---

Title: Build Serverless Applications with Apache OpenWhisk

Brief Description: Serverless computing refers to a model where the existence of servers is entirely abstracted away. Even though servers exist, developers are relieved from the need to care about their operation. They are rel

[2019-11-13 01:01] #141 closed

[2019-11-14 00:23] a-axton commented on #143
Hey @charlespierce, thank you for submitting! Are you available to give this talk at our next meetup on Tuesday Nov 26th?

[2019-11-14 01:37] charlespierce commented on #143
Hi @a-axton! Yeah, I'm available and can definitely give this talk on the 26th :+1:

[2019-11-20 20:29] nbunneysky opened #145 "Sneaking Node into the Codebase Through Microservices"
Name: Nate Bunney

Twitter Handle: nbunney

GitHub Username: nbunney

Employer: SkySlope

Talk Length: How long do you want?  Min 30 mins max an hour.

---

Title: Sneaking Node into the Codebase Through Microservices

Brief Description: A microservices architecture has allowed Node.js to begin making strong inroads in the C# culture at Skyslope.  In this talk, we will walk through many of the dec

[2020-01-06 00:36] #143 closed, assigned to nobody

[2020-01-06 00:38] a-axton commented on #144
This looks awesome! Will attendees need to setup/install anything on their machine before coming?

[2020-01-07 19:03] drnugent commented on #144
We can do it however you like -- if attendees want to code on their own machines and setup OpenWhisk locally, that's totally possible. Here's a recording where I gave the talk at JSLA without local requirements: https://www.youtube.com/watch?v=Rzx8SZ5CxAE&feature=youtu.be

[2020-01-20 23:18] crutchcorn opened #146 "Talk Proposal: Blogging with Gatsby: An introduction to Gatsby"
Name: Corbin Crutchley

Twitter Handle: @crutchcorn

GitHub Username: @crutchcorn

Employer: Hilton Worldwide (I do not represent them in this talk)

Talk Length: 30-45 mins

---

Title: Blogging with Gatsby: An introduction to Gatsby

Brief Description:

[2020-01-24 19:22] mpalmerlee opened #147 "Zero to API in 30 minutes using NestJS"
Name: Matt Palmerlee

Twitter Handle: https://twitter.com/mpalmerlee

GitHub Username: https://github.com/mpalmerlee

Employer: Encode Logic

Talk Length: 30 - 60 minutes

---

Title: Zero to API in 30 minutes using NestJS

Brief Description:
When building a new API using NodeJS you can go the a-la-carte route, piecing together an API using building block modules, or you can go with a framework th

[2020-01-24 19:48] a-axton commented on #147
Thanks for the last minute talk!

[2020-01-26 01:11] adamhenson opened #148 "Talk Proposal: Performance Driven Development in 2020"
Name: Adam Henson

Twitter Handle: NA

GitHub Username: adamhenson

Employer: Paperless Post

Talk Length: 20 minutes (flexible)

---

Title:Performance Driven Development in 2020

Brief Description:
You made it. Your brand new website is live. The designers love the dark mode. Product team applauded your ability to deliver in such an aggressive timeline. Your peers admire how you've architected t

[2020-01-29 10:14] tnishimura opened #149 "Talk Proposal: I am Ionic and So Can You"
Name: Toshiro Nishimura

Twitter Handle:

GitHub Username: tnishimura

Employer:

Talk Length: 30-40?

---

Title: I am Ionic and So Can You

Brief Description:
I will walk through creating a simple application with Ionic 4, all the way through creating a ready-to-publish android application. Along the way, I'll talk about the various pieces that make up Ionic and why I think it is worth your atte

[2020-02-13 18:24] #147 closed, assigned to nobody

[2020-02-14 22:50] a-axton commented on #146
Hey @crutchcorn, can you give this talk on the 27th (Thursday)? I'm going to be out of town so had to move it two days down

[2020-02-18 19:03] a-axton commented on #149
Hi @tnishimura! Are you available to give this talk on the 27th? Meetup was scheduled for Tue the 25th but I had to push it back a few days because I'm out of town

[2020-02-18 23:58] tnishimura commented on #149
Hey @a-axton, yes, I can do it on the 27th if there are no other candidates. Tell me if there will be a second speaker so I can time my talk appropriately.

[2020-02-19 00:09] a-axton commented on #149
Awesome, thank you! There are other proposals but we've been doing a lot of node stuff lately so I've been wanting to mix it up. I haven't accepted anyone else so you'll probably be the only one

[2020-03-10 22:05] #149 closed, assigned to nobody